{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}" >
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/main.css' %}" ></link>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Asap:400,500" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/oml-icons.css' %}">
    <!-- Scripts -->
    <script src="{% static 'jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.0.0/js/bootstrap.bundle.min.js' %}"></script>

    <!-- TODO: REMOVER - FIX HASTA CAMBIAR BS3 por BS4 -->
    <style type="text/css">
      .fade {
        opacity: 1;
      }
    </style>

</head>
<body>

{% include 'messages.html' %}

<form id="form-calificacion" action = "" method = "post">
    {% csrf_token %}
    <div>
        <tr>{{contacto_form.as_table}}</tr>
        <tr>{{calificacion_form.as_table}}</tr>
    </div>
    <hr>
    <button type="submit" id="id_guardar" class="btn btn-primary">
        Guardar
    </button>
</form>

</body>
</html>
