{% extends "base.html" %}
{% load static %}

{% block content %}

        <form method="post">{% csrf_token %}
            <h1>Formulario "{{ object.formulario.nombre }}"</h1>
            <p>¿Esta seguro que desea eliminar el campo: <strong>{{ object.nombre_campo }}</strong>?</p>
            <button type="submit" class="btn btn-danger">
                Eliminar
            </button>
            <a class="btn btn-outline-danger" href="{% url 'formulario_field' object.formulario.pk %}">Cancelar</a>
        </form>

{% endblock %}
