{% extends "base.html" %}
{% load static %}
{% block head_js %}
<script>
    $(document).ready(function() {
            $('.class-fecha').datetimepicker({format: 'DD/MM/YYYY'});
    });
    </script>
{% endblock %}
{% block content %}

<form action="" enctype="multipart/form-data" method="post">
	{% include "base_form_fields.html" with form=form %}
</form>
<hr>
    <a href="{% url 'formulario_list' %}" class="btn btn-outline-primary" role="button">volver a listado de formularios</a>

{% endblock %}