{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="col-md-6">
<form action="" enctype="multipart/form-data" method="post">

                {% csrf_token %}

                <h4>Nuevo campo</h4>
                {{ form.non_field_errors }}
    {{ form.formulario }}
    <div class="form-group row">
        {{ form.nombre_campo.errors }}
        <label class="col-sm-3 control-label" for="{{ form.nombre_campo.id_for_label }}">Nombre de campo: </label>
        <div class="col-sm-6">
              {{ form.nombre_campo }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.tipo.errors }}
        <label class="col-sm-3 control-label" for="{{ form.tipo.id_for_label }}">Tipo: </label>
        <div class="col-sm-6">
              {{ form.tipo}}
        </div>
    </div>
    <div class="form-group row">
        {{ form.orden.errors }}
        <label class="col-sm-3 control-label" for="{{ form.orden.id_for_label }}">Orden: </label>
        <div class="col-sm-2">
              {{ form.orden }}
        </div>
    </div>

                <button type="submit" id="id_guardar" class="btn btn-success ">
                    <span class="glyphicon glyphicon-plus"></span>
                    Agregar campo
                </button>
</form>
    </div>
<div class="col-md-6">
                {% if formulario %}
                    <h4>Campos del formulario</h4>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="fts-table-bg">
                            <th>Orden</th>
                            <th>Nombre de campo</th>
                            <th>Tipo</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for campo in formulario.campos.all %}
                                <tr>
                                    <td>{{ campo.orden }}</td>
                                    <td>{{ campo.nombre_campo }} </td>
                                    <td>{{ campo.get_tipo_display }}</td>
                                    <td>
                                        <a href=""><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>

                                    </td>
                                </tr>
                             {% empty %}
                                <tr>
                                    <td colspan="4">
                                        <p class="text-center text-danger">
                                            <em>No se encontraron campos creados.</em>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}



</div>>

{% endblock %}