{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Nuevo formulario</h1>

<div class="wrapper-tabs">
    <ul class="nav nav-tabs">
        <li class="nav-item active"><a class="nav-link">Nuevo Formulario</a></li>
        <li class="nav-item disabled"><a class="nav-link">Campos del formulario</a></li>
        <li class="nav-item"><a class="nav-link">Vista previa del formulario</a></li>
    </ul>
</div>

<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row">
        <div class="col-md-6">
            <label for="{{ form.nombre.id_for_label }}">Nombre: </label>
            {{ form.nombre }}
            {{ form.nombre.errors }}
        </div>
        <div class="col-md-6">
            <label for="{{ form.descripcion.id_for_label }}">Descripcion: </label>
            {{ form.descripcion }}
            {{ form.descripcion.errors }}
        </div>
    </div>
    <hr>
    <button type="submit" id="id_guardar" class="btn btn-primary">
        Guardar Datos Básicos y Continuar
    </button>    
</form>

{% endblock %}