<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href="//cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" rel="stylesheet">
        <!-- jquery UI -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.min.js"></script>
</head>
<body>
<script>
    $(document).ready(function() {
            $('.class-fecha').datetimepicker({format: 'DD/MM/YYYY'});
    });
    </script>
   {% for message in messages %}

        {% if "error" in message.tags %}

        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Error!</h4>
            {{ message }}
        </div>

        {% elif "warning" in message.tags %}

        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Atencion!</h4>
            {{ message }}
        </div>

        {% elif "success" in message.tags %}

        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Finalizado:</h4>
            {{ message }}
        </div>

        {% elif "info" in message.tags %}

        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Informacion:</h4>
            {{ message }}
        </div>

        {% elif "debug" in message.tags %} {# the same as "INFO" #}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Informacion:</h4>
            {{ message }}
        </div>

        {% else %} {# the same as "INFO" #}
        <div class="alert alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Informacion:</h4>
            {{ message }}
        </div>

        {% endif %}
       {% endfor %}
<div class="row">
    <div class="col-md-9">
        <table class="table table-striped">
            <tr>
                <td><strong>Telefono</strong></td>
                <td>{{contacto.telefono}}</td>
            </tr>
        {% for datos in mas_datos %}
            <tr>
                <td><strong>{{datos.0|title}}</strong></td>
                <td>{{datos.1}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>

<div class="col-md-9">
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <table class="table table-striped">
        {{form.as_table}}

    </table>

     <button type="submit"  class="btn btn-success btn-sm">
        Guardar
    </button>

</form>
</div>
</div>
</body>
</html>
