{% load staticfiles %}
{% load compress %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}" >
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/main.css' %}" ></link>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Asap:400,500" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/oml-icons.css' %}">
    {% compress js %}
    <!-- Scripts -->
    <script src="{% static 'jquery-2.2.4.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.0.0/js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/bootstrap-datetimepicker.min.js' %}"></script>
    {% endcompress %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>

    <!-- TODO: REMOVER - FIX HASTA CAMBIAR BS3 por BS4 -->
    <style type="text/css">
      .fade {
        opacity: 1;
      }
    </style>

</head>
<body>
<script>
    $(document).ready(function() {
            $('.class-fecha').datetimepicker({format: 'DD/MM/YYYY'});
    });
</script>
{% include 'messages.html' %}
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div>
        {{form.as_table}}
        {{venta_form.as_table}}
    </div>
    <hr>
    <button type="submit"  class="btn btn-primary">
        Guardar
    </button>
</form>
</body>
</html>
