[Unit]
Description=Omnileads devenv Application Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
{% if devenv == 1 %}
User={{ docker_user }}
{% else %}
ExecStartPost=/bin/bash {{ deploy_location }}/postinstall.sh start
ExecStopPost=/bin/bash {{ deploy_location }}/postinstall.sh stop
{% endif %}
EnvironmentFile={{ deploy_location }}/.env
Environment=COMPOSE_FILE={{ deploy_location }}/docker-compose.yml
RemainAfterExit=yes
WorkingDirectory={{ deploy_location }}
ExecReload=/usr/local/bin/docker-compose up -d
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
TimeoutStopSec=0

[Install]
WantedBy=multi-user.target
