{% load static %}
{% load i18n %}
{% load oml_permissions %}

<nav id="sidebar">
    <div class="sidebar-header">
        <a href="{% url 'index' %}">
          <img src="{{ IC_LOGO }}" id="nav-logo">
          <img src="{{ IC_LOGO_SYMBOL }}" id="nav-logo-symbol">
        </a>
    </div>

    <ul id="nav-main-menu" class="list-unstyled">

        {% if ADMIN_MENU_ITEMS %}
          {% for main_item in ADMIN_MENU_ITEMS %}
            <li class="main-menu-li">
              <span class="icon {{ main_item.icon }}"></span>
            {% if main_item.url %}
              <a class="menu-link {{ main_item.class }}" href="{{ main_item.url }}">{{ main_item.label }}</a>
            {% else %}
              <a class="menu-header" href="#{{ main_item.id }}" role="button" data-toggle="collapse" aria-expanded="false">{{ main_item.label }}</a>
              <ul class="collapse list-unstyled submenu" id="{{ main_item.id }}" data-parent="#nav-main-menu">
              {% for child_item in main_item.children %}
                {% if child_item.line %}
                  <hr>
                {% endif %}
                {% if child_item.url %}
                  <li>
                    <a href="{{ child_item.url }}">{{ child_item.label }}</a>
                  </li>
                {% endif %}
                {% if child_item.children %}
                  <li>
                    <a href="#{{ child_item.id }}" role="button" class="{{ child_item.class }}" data-toggle="collapse" aria-expanded="false">{{ child_item.label }}</a>
                    <ul class="collapse list-unstyled submenu-two" id="{{ child_item.id }}" data-parent=".nav-submenu">

                    {% for grandchild_item in child_item.children %}
                      {% if grandchild_item.line %}
                        <hr>
                      {% endif %}
                      {% if grandchild_item.url %}
                        <li>
                          <a href="{{ grandchild_item.url }}">{{ grandchild_item.label }}</a>
                        </li>
                      {% endif %}
                    {% endfor %}
                    </ul>
                  </li>
                {% endif %}
              {% endfor %}
              </ul>
            {% endif %}
              </li>
          {% endfor %}
        {% endif %}

        {% if user|has_oml_permission:'registrar_usuario' or user|has_oml_permission:'acerca'%}
        <li class="main-menu-li">
            <span class="icon icon-info"></span>
            <a class="menu-header" href="#menuAyuda" role="button" data-toggle="collapse" aria-expanded="false">{% trans 'Ayuda' %}</a>
            <ul class="collapse list-unstyled submenu" id="menuAyuda" data-parent="#nav-main-menu">
                {% if user|has_oml_permission:'registrar_usuario' %}
                    <li>
                        <a href="{% url 'registrar_usuario' %}">{% trans 'Registrarse' %}</a>
                    </li>
                {% endif %}
                {% if user|has_oml_permission:'acerca' %}
                    <li>
                        <a class="menu-link" href="{% url 'acerca' %}">{% trans 'Acerca de' %}</a>
                    </li>
                {% endif %}
                {% if not ENTERPRISE and user|has_oml_permission:'addons_disponibles' %}
                    <li>
                        <a class="menu-link" href="{% url 'addons_disponibles' %}">{% trans 'Market Place' %}</a>
                    </li>
                {% endif %}
            </ul>
        </li>
        {% endif %}

    </ul>
</nav>
