{% for campana in borradas %}
           <tr>
                <td width="45%">
                    {{ campana.nombre }}
                    <a href="{% url 'campana_dialer_detalle' campana.pk %}">
                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true" title="ver detalles"></span>
                    </a>
                </td>
               <td> {{ campana.queue_campana.get_string_queue_asterisk }} </td>
                <td>
                    {{ campana.fecha_inicio|date:"d/m/Y" }}
                </td>
                <td>{{ campana.fecha_fin|date:"d/m/Y" }}</td>
                <td>
                    {{ campana.bd_contacto }}
                    <a href="{% url 'campana_dialer_update_base' campana.pk %}">
                        cambiar base
                    </a>
                </td>
                <td> {{campana.get_estado_display}}  </td>
                <td width="14%">
                    <a href="{% url 'campana_dialer_supervisors' campana.pk %}">
                        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true" title="dar permiso para ver"></span>
                    </a>
                    <a href="{% url 'campana_dialer_reporte_calificacion' campana.pk %}">
                        <span class="glyphicon glyphicon-list" aria-hidden="true" title="ver calificaciones"></span>
                    </a>
                    <a href="{% url 'campana_dialer_reporte_grafico' campana.pk %}">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true" title="ver reportes graficos"></span>
                    </a>
                    {% if campana.oculto %}
                    <a type="button"  href="{% url 'campana_dialer_desocultar' campana.pk %}" c>
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="visible"></span>
                    </a>
                    {% else %}
                    <a type="button" href="{% url 'campana_dialer_ocultar' campana.pk %}" >
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true" title="ocultar"></span>
                    </a>
                    {% endif %}
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="7">No existen campañas</td>
        </tr>
        {% endfor %}