{% extends "base.html" %}
{% load static %}

{% block content %}
        <h4>Selecciones los supervisores los cuales van tener permiso para ver la campana <strong>{{campana.nombre}}</strong></h4>

    <div class="col-md-4">
        <form action = "" method = "post"> {% csrf_token %}
              {{ form.non_field_errors }}
    <div class="form-group row">
        {{ form.supervisors.errors }}
        <label class="col-sm-3 control-label" for="{{ form.bd_contacto.id_for_label }}">Supervisores:</label>
        <div class="col-sm-6">
              {{ form.supervisors }}
        </div>
    </div>

            <button type="submit" id="id_registrar" class="btn btn-success btn-lg">
                Guardar
            </button>
	    </form>

    </div>

{% endblock %}