{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Permisos para ver</h1>
<p>Selecciones los supervisores que tendrán permiso para ver la campana <strong>{{campana.nombre}}</strong></hp>

<form action = "" method = "post"> {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row">
        <div class="col-md-6">
            <label for="{{ form.bd_contacto.id_for_label }}">Supervisores:</label>
            {{ form.supervisors }}
            {{ form.supervisors.errors }}            
        </div>
    </div>
    <hr>
    <button type="submit" id="id_registrar" class="btn btn-primary">
        Guardar
    </button>
</form>

{% endblock %}