{% extends "base.html" %}
{% load static %}

{% block head_js %}
    <script type="text/javascript">
        $(function(){

            setInterval(function() {
            window.location.reload(true)
        }, 180000);

            $(".btn-submit").click(function (){
                var campana_id = $(this).attr("id");
                var action = $(this).attr("name");
                submit_form(campana_id, action);
            })

            function submit_form(campana_id, action){
                $("#campana_id").val(campana_id);
                $("#form_estados_campanas").attr("action", action);
                $("#form_estados_campanas").submit();
            }
        });

        function mostrar_detalle_campana(pk_campana) {
             if ($('#modal_ventana').attr('first-time') == 'true'){
                  $('#modal_ventana').attr('first-time', 'false')
             }
            else{
                $('#modal_ventana').fadeOut('slow');
             }

             $('#modal_ventana').html("");
            $.get('{% url  'campana_dialer_detalle_wombat' %}', {pk_campana: pk_campana},
                    function (data) {
                        $('#modal_ventana').html(data);
                        $('#modal_ventana').fadeIn('slow');
                    });
        }
        ;
        function mostrar_campanas_dialer_ocultas() {

            $.get('{% url  'campana_dialer_mostrar_ocultas' %}',
                    function (data) {
                        $('#t_body_borradas').html(data);

                    });
        }
        ;
    </script>
{% endblock %}

{% block content %}
<div>
    <form id="form_estados_campanas" role="form" method="post">
        {% csrf_token %}
        <input type="hidden" id="campana_id" name="campana_id">
    <h4><b>Campañas Activas</b> <span style="color:red;">- Canales en uso: {{ canales_en_uso }}</span></h4>
    <table class="table table-stripped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Número</th>
                <th>Fecha Ini</th>
                <th>Fecha Fin</th>
                <th>Base de datos</th>
                <th>Estado</th>
                <th>Acciones&nbsp;&nbsp;</th>

            </tr>
        </thead>
        <tbody>
        {% for campana in activas %}
            <tr>
                <td width="25%">
                    <a  href="#" data-toggle="modal" data-target="#myMapModal"  onclick="mostrar_detalle_campana({{ campana.id }})">{{ campana.nombre }}</a>
                    <a href="{% url 'campana_dialer_detalle' campana.pk %}">
                        <span class="fas fa-search-plus" aria-hidden="true" title="ver detalles"></span>
                    </a>
                </td>
                <td> {{ campana.queue_campana.get_string_queue_asterisk }} </td>
                <td>
                    {{ campana.fecha_inicio|date:"d/m/Y" }}
                </td>
                <td>{{ campana.fecha_fin|date:"d/m/Y" }}</td>
                <td>
                    {{ campana.bd_contacto }}
                </td>
                <td> {{campana.get_estado_display}}  </td>
                <td width="14%">
                    <a href="{% url 'campana_dialer_update' campana.pk %}">
                        <span class="far fa-edit" aria-hidden="true" title="Modificar campana"></span>
                    </a>
                    <a href="{% url 'queue_member_campana' campana.pk %}">
                        <span class="far fa-plus-square" aria-hidden="true" title="agregar agentes"></span>
                    </a>
                    <a href="{% url 'campana_dialer_supervisors' campana.pk %}">
                        <span class="fas fa-eye" aria-hidden="true" title="dar permiso para ver"></span>
                    </a>
                    <a href="{% url 'campana_dialer_delete' campana.pk %}">
                        <span class="far fa-trash-alt" aria-hidden="true" title="eliminar campana"></span>
                    </a>
                    <a href="{% url 'campana_dialer_reporte_calificacion' campana.pk %}">
                        <span class="fas fa-list" aria-hidden="true" title="ver calificaciones"></span>
                    </a>
                    <a href="{% url 'campana_dialer_reporte_grafico' campana.pk %}">
                        <span class="far fa-chart-bar" aria-hidden="true" title="ver reportes graficos"></span>
                    </a>
                    <a id="{{ campana.id }}" name="{% url 'pausar_campana_dialer' %}" class="btn-submit">
                        <span class="far fa-pause-circle" aria-hidden="true" title="pause"></span>
                    </a>
                    <a href="{% url 'reciclar_campana_dialer' campana.pk %}">
                        <span class="far fa-copy" aria-hidden="true" title="reciclar campaña"></span>
                    </a>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="7">No existen campañas</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <h4><b>Campañas Pausadas</b></h4>
    <table class="table table-stripped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Número</th>
                <th>Fecha Ini</th>
                <th>Fecha Fin</th>
                <th>Base de datos</th>
                <th>Estado</th>
                <th>Acciones&nbsp;&nbsp;</th>

            </tr>
        </thead>
        <tbody>
        {% for campana in pausadas %}
            <tr>
                <td width="25%">
                    <a  href="#" data-toggle="modal" data-target="#myMapModal"  onclick="mostrar_detalle_campana({{ campana.id }})">{{ campana.nombre }}</a>
                    <a href="{% url 'campana_dialer_detalle' campana.pk %}">
                        <span class="fas fa-search-plus" aria-hidden="true" title="ver detalles"></span>
                    </a>
                </td>
                <td> {{ campana.queue_campana.get_string_queue_asterisk }} </td>
                <td>
                    {{ campana.fecha_inicio|date:"d/m/Y" }}
                </td>
                <td>{{ campana.fecha_fin|date:"d/m/Y" }}</td>
                <td>
                    {{ campana.bd_contacto }}
                    <a href="{% url 'campana_dialer_update_base' campana.pk %}">
                        cambiar base
                    </a>
                </td>
                <td> {{campana.get_estado_display}}  </td>
                <td width="14%">
                    <a href="{% url 'campana_dialer_update' campana.pk %}">
                        <span class="far fa-edit" aria-hidden="true" title="Modificar campana"></span>
                    </a>
                    <a href="{% url 'queue_member_campana' campana.pk %}">
                        <span class="far fa-plus-square" aria-hidden="true" title="agregar agentes"></span>
                    </a>
                    <a href="{% url 'campana_dialer_supervisors' campana.pk %}">
                        <span class="fas fa-eye" aria-hidden="true" title="dar permiso para ver"></span>
                    </a>
                    <a href="{% url 'campana_dialer_delete' campana.pk %}">
                        <span class="far fa-trash-alt" aria-hidden="true" title="eliminar campana"></span>
                    </a>
                    <a href="{% url 'campana_dialer_reporte_calificacion' campana.pk %}">
                        <span class="fas fa-list" aria-hidden="true" title="ver calificaciones"></span>
                    </a>
                    <a href="{% url 'campana_dialer_reporte_grafico' campana.pk %}">
                        <span class="far fa-chart-bar" aria-hidden="true" title="ver reportes graficos"></span>
                    </a>
                    <a type="button" id="{{ campana.id }}" name="{% url 'activar_campana_dialer' %}" class="btn-submit">
                        <span class="fas fa-play" aria-hidden="true" title="activar"></span>
                    </a>
                    <a href="{% url 'reciclar_campana_dialer' campana.pk %}">
                        <span class="far fa-copy" aria-hidden="true" title="reciclar campaña"></span>
                    </a>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="7">No existen campañas</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <h4><b>Campañas Inactivas</b></h4>
    <table class="table table-stripped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Número</th>
                <th>Fecha Ini</th>
                <th>Fecha Fin</th>
                <th>Base de datos</th>
                <th>Estado</th>
                <th>Acciones&nbsp;&nbsp;</th>

            </tr>
        </thead>
        <tbody>
        {% for campana in inactivas %}
            <tr>
                <td width="25%">
                    {{ campana.nombre }}
                    <a href="{% url 'campana_dialer_detalle' campana.pk %}">
                        <span class="fas fa-search-plus" aria-hidden="true" title="ver detalles"></span>
                    </a>
                </td>
                <td> {{ campana.queue_campana.get_string_queue_asterisk }} </td>
                <td>
                    {{ campana.fecha_inicio|date:"d/m/Y" }}
                </td>
                <td>{{ campana.fecha_fin|date:"d/m/Y" }}</td>
                <td>
                    {{ campana.bd_contacto }}
                    <a href="{% url 'campana_dialer_update_base' campana.pk %}">
                        cambiar base
                    </a>
                </td>
                <td> {{campana.get_estado_display}}  </td>
                <td width="14%">
                    <a href="{% url 'campana_dialer_update' campana.pk %}">
                        <span class="far fa-edit" aria-hidden="true" title="Modificar campana"></span>
                    </a>
                    <a href="{% url 'queue_member_campana' campana.pk %}">
                        <span class="far fa-plus-square" aria-hidden="true" title="agregar agentes"></span>
                    </a>
                    <a href="{% url 'campana_dialer_supervisors' campana.pk %}">
                        <span class="fas fa-eye" aria-hidden="true" title="dar permiso para ver"></span>
                    </a>
                    <a href="{% url 'campana_dialer_delete' campana.pk %}">
                        <span class="far fa-trash-alt" aria-hidden="true" title="eliminar campana"></span>
                    </a>
                    <a href="{% url 'campana_dialer_reporte_calificacion' campana.pk %}">
                        <span class="fas fa-list" aria-hidden="true" title="ver calificaciones"></span>
                    </a>
                    <a href="{% url 'campana_dialer_reporte_grafico' campana.pk %}">
                        <span class="far fa-chart-bar" aria-hidden="true" title="ver reportes graficos"></span>
                    </a>
                    <a type="button" id="{{ campana.id }}" name="{% url 'start_campana_dialer' %}" class="btn-submit">
                        <span class="fas fa-play" aria-hidden="true" title="play"></span>
                    </a>
                    <a href="{% url 'reciclar_campana_dialer' campana.pk %}">
                        <span class="far fa-copy" aria-hidden="true" title="reciclar campaña"></span>
                    </a>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="7">No existen campañas</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
            <h4><b>Campañas Finalizadas</b></h4>
    <table class="table table-stripped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Número</th>
                <th>Fecha Ini</th>
                <th>Fecha Fin</th>
                <th>Base de datos</th>
                <th>Estado</th>
                <th>Acciones&nbsp;&nbsp;</th>

            </tr>
        </thead>
        <tbody>
        {% for campana in finalizadas %}
            <tr>
                <td width="25%">
                    <a  href="#" data-toggle="modal" data-target="#myMapModal"  onclick="mostrar_detalle_campana({{ campana.id }})">{{ campana.nombre }}</a>
                    <a href="{% url 'campana_dialer_detalle' campana.pk %}">
                        <span class="fas fa-search-plus" aria-hidden="true" title="ver detalles"></span>
                    </a>
                </td>
                <td> {{ campana.queue_campana.get_string_queue_asterisk }} </td>
                <td>
                    {{ campana.fecha_inicio|date:"d/m/Y" }}
                </td>
                <td>{{ campana.fecha_fin|date:"d/m/Y" }}</td>
                <td>
                    {{ campana.bd_contacto }}
                    <a href="{% url 'campana_dialer_update_base' campana.pk %}">
                        cambiar base
                    </a>
                </td>
                <td> {{campana.get_estado_display}}  </td>
                <td width="14%">
                    <a href="{% url 'campana_dialer_supervisors' campana.pk %}">
                        <span class="fas fa-eye" aria-hidden="true" title="dar permiso para ver"></span>
                    </a>
                    <a href="{% url 'campana_dialer_delete' campana.pk %}">
                        <span class="far fa-trash-alt" aria-hidden="true" title="eliminar campana"></span>
                    </a>
                    <a href="{% url 'campana_dialer_reporte_calificacion' campana.pk %}">
                        <span class="fas fa-list" aria-hidden="true" title="ver calificaciones"></span>
                    </a>
                    <a href="{% url 'campana_dialer_reporte_grafico' campana.pk %}">
                        <span class="far fa-chart-bar" aria-hidden="true" title="ver reportes graficos"></span>
                    </a>
                    <a href="{% url 'reciclar_campana_dialer' campana.pk %}">
                        <span class="far fa-copy" aria-hidden="true" title="reciclar campaña"></span>
                    </a>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="7">No existen campañas</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <h4><b>Campañas Eliminadas</b></h4>
    <table class="table table-stripped table-condensed table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Número</th>
                <th>Fecha Ini</th>
                <th>Fecha Fin</th>
                <th>Base de datos</th>
                <th>Estado</th>
                <th>Acciones
                    <a  href="#" style="color: black; text-decoration: none;" onclick="mostrar_campanas_dialer_ocultas()" >
                        <span class="fas fa-expand-arrows-alt" aria-hidden="true" title="Mostrar ocultas"></span>
                    </a>
                </th>

            </tr>
        </thead>
        <tbody id="t_body_borradas">
        {% for campana in borradas %}
            <tr>
                <td width="25%">
                    {{ campana.nombre }}<a href="{% url 'campana_dialer_detalle' campana.pk %}">
                        <span class="fas fa-search-plus" aria-hidden="true" title="ver detalles"></span>
                    </a>
                </td>
                <td> {{ campana.queue_campana.get_string_queue_asterisk }} </td>
                <td>
                    {{ campana.fecha_inicio|date:"d/m/Y" }}
                </td>
                <td>{{ campana.fecha_fin|date:"d/m/Y" }}</td>
                <td>
                    {{ campana.bd_contacto }}
                    <a href="{% url 'campana_dialer_update_base' campana.pk %}">
                        cambiar base
                    </a>
                </td>
                <td> {{campana.get_estado_display}}  </td>
                <td width="14%">
                    <a href="{% url 'campana_dialer_supervisors' campana.pk %}">
                        <span class="fas fa-eye" aria-hidden="true" title="dar permiso para ver"></span>
                    </a>
                    <a href="{% url 'campana_dialer_reporte_calificacion' campana.pk %}">
                        <span class="fas fa-list" aria-hidden="true" title="ver calificaciones"></span>
                    </a>
                        <a href="{% url 'campana_dialer_reporte_grafico' campana.pk %}">
                        <span class="far fa-chart-bar" aria-hidden="true" title="ver reportes graficos"></span>
                    </a>
                    {% if campana.oculto %}
                    <a type="button"  href="{% url 'campana_dialer_desocultar' campana.pk %}" c>
                        <span class="fas fa-eye" aria-hidden="true" title="visible"></span>
                    </a>
                    {% else %}
                    <a type="button" href="{% url 'campana_dialer_ocultar' campana.pk %}" >
                        <span class="fas fa-eye-slash" aria-hidden="true" title="ocultar"></span>
                    </a>
                    {% endif %}
                    <a href="{% url 'reciclar_campana_dialer' campana.pk %}">
                        <span class="far fa-copy" aria-hidden="true" title="reciclar campaña"></span>
                    </a>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="7">No existen campañas</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>
</div>

 <div class="modal fade" id="myMapModal">
        <div class="modal-dialog" id="modal_ventana">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 id="address" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div id="map-canvas" class=""></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <style type="text/css">
    p {
        margin: 4px 10px 10px;
    }
    </style>

{% endblock %}
