{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="col-md-3">
    <form method="post">{% csrf_token %}
         {% if es_template %}
                        <h4>Template <strong>{{ object.nombre_template }}</strong></h4>
                        <h4>¿Esta seguro que desea eliminar este Template? </h4>
                    {% else %}
                        <h4>Campaña <strong>{{ object.nombre }}</strong></h4>
                        <h4>¿Esta seguro que desea eliminar esta Campaña? </h4>
                    {% endif %}

        <button type="submit" class="btn btn-danger btn-sm">
            <span class="glyphicon glyphicon-remove"></span> Eliminar
        </button>
        {% if es_template %}
        <a href="{% url 'lista_campana_dialer_template' %}">Cancelar</a>
        {% else %}
        <a href="{% url 'campana_dialer_list' %}">Cancelar</a>
        {% endif %}
    </form>
</div>
{% endblock %}