{% extends 'campana_dialer/nueva_edita_campana.html' %}

{% block tipo_interaccion %}
    {% if form.tipo_interaccion.value == 1 %}
        <div class="form-group row">
            <label class="col-sm-3 control-label">Formulario: </label>
            <div class="col-sm-3">
                {{ form.formulario }}
            </div>
        </div>
    {% endif %}
    {% if form.tipo_interaccion.value == 2 %}
        <div class="form-group row">
            <label class="col-sm-3 control-label">Sitio externo: </label>
            <div class="col-sm-3">
                {{ form.sitio_externo }}
            </div>
        </div>
    {% endif %}
{% endblock %}
