{% extends "campana/wizard_base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block head_js %}
    <script>
     $(document).ready(function() {
       $('#id_fecha_inicio').datetimepicker({format: 'DD/MM/YYYY'});
       $('#id_fecha_fin').datetimepicker({format: 'DD/MM/YYYY'});

     });
    </script>
{% endblock %}

{% block nav %}
    <h4 class="inline">{% trans 'Campaña Dialer: Datos Básicos' %} {% if not form.instance.pk %}<span style="color:red;">- {% trans 'Canales en uso:' %} {{ canales_en_uso }}{% endif %}</h4>

    <ul class="nav nav-tabs">
        <li class="active"><a>{% trans 'Campaña' %}</a></li>
        <li class="disabled"><a>{% trans 'Cola' %}</a></li>
        <li class="disabled"><a>{% trans 'Opciones de calificación' %}</a></li>
        <li class="disabled"><a>{% trans 'Parámetros extra web form' %}</a></li>
        {% if not form.instance.pk %}
            <li class="disabled"><a>{% trans 'Actuacion' %}</a></li>
            <li class="disabled"><a>{% trans 'Reglas Incidencias' %}</a></li>
            <li class="disabled"><a>{% trans 'Sincronizar' %}</a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block form_render %}
    {% with form as form %}
        {{ form.non_field_errors }}
        <div class="form-group row">
            {{ form.nombre.errors }}
            <label class="col-sm-3 control-label" for="{{ form.nombre.id_for_label }}">Nombre: </label>
            <div class="col-sm-6" data-toggle="tooltip" data-placement="top" title="Los espacios, tildes, ñ-es y otros caracteres no ASCII no están permitidos">
                {{ form.nombre|add_class:"form-control" }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.fecha_inicio.errors }}
            <label class="col-sm-3 control-label" for="{{ form.fecha_inicio.id_for_label }}">Fecha inicio: </label>
            <div class="col-sm-3">
                {{ form.fecha_inicio|attr:"id:id_fecha_inicio" }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.fecha_fin.errors }}
            <label class="col-sm-3 control-label" for="{{ form.fecha_fin.id_for_label }}">Fecha fin: </label>
            <div class="col-sm-3">
                {{ form.fecha_fin|attr:"id:id_fecha_fin" }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.bd_contacto.errors }}
            <label class="col-sm-3 control-label" for="{{ form.bd_contacto.id_for_label }}">Base de Datos de Contactos: </label>
            <div class="col-sm-6">
                {{ form.bd_contacto }}
            </div>
        </div>
        {% block tipo_interaccion %}
            {{ form.tipo_interaccion.errors }}
            <div class="form-group row">
                {{ form.formulario.errors }}
                <label class="col-sm-3 control-label"><div class="myradio">{{ form.tipo_interaccion.0 }}</div> </label>
                <div class="col-sm-6">
                    {{ form.formulario }}
                </div>
            </div>
            <div class="form-group row">
                {{ form.sitio_externo.errors }}
                <label class="col-sm-3 control-label"><div class="myradio">{{ form.tipo_interaccion.1 }}</div> </label>
                <div class="col-sm-6">
                    {{ form.sitio_externo }}
                </div>
            </div>
        {% endblock %}
        <div class="form-group row">
            {{ form.objetivo.errors }}
            <label class="col-sm-3 control-label">Objetivo: </label>
            <div class="col-sm-3">
                {{ form.objetivo }}
            </div>
        </div>
    {% endwith %}
{% endblock %}
