{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Stylesheets -->  
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}" > 
    <!-- Custom CSS -->       
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/main.css' %}" ></link>
</head>
<body>
   {% for message in messages %}

        {% if "error" in message.tags %}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>Error!</h1>
            <p>{{ message }}</p>
        </div>

        {% elif "warning" in message.tags %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>Atencion!</h1>
            <p>{{ message }}</p>
        </div>

        {% elif "success" in message.tags %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>Finalizado:</h1>
            <p>{{ message }}</p>
        </div>

        {% elif "info" in message.tags %}

        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>Informacion:</h1>
            <p>{{ message }}</p>
        </div>

        {% elif "debug" in message.tags %} {# the same as "INFO" #}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>Informacion:</h1>
            <p>{{ message }}</p>
        </div>

        {% else %} {# the same as "INFO" #}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>Informacion:</h1>
            <p>{{ message }}</p>
        </div>

        {% endif %}
       {% endfor %}

    <h1>{% trans 'Nuevo contacto' %}</h1>
    <p>{% trans 'Seleccione la campana para la cual desea agregar un nuevo contacto' %}</p>

<form target="crm" action = "" method = "post"> {% csrf_token %}
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row">
        <div class="col-md-6">
            <label for="{{ form.campana.id_for_label }}">Campaña: </label>
            {{ form.campana }}
            {{ form.campana.errors }}          
        </div>
    </div>
    <hr>
    <button type="submit"  class="btn btn-primary">
        Continuar
    </button>
</form>

</body>
</html>
