{% extends "campana/wizard_base.html" %}
{% load i18n %}

{% block nav %}
    <h4 class="inline">{% trans 'Campaña Dialer: Sincronizar'  %} </h4>

    <ul class="nav nav-tabs">
        <li class="disabled"><a>{% trans 'Campaña' %}</a></li>
        <li class="disabled"><a>{% trans 'Cola' %}</a></li>
        <li class="disabled"><a>{% trans 'Opciones de calificación' %}</a></li>
        <li class="disabled"><a>{% trans 'Parámetros extra web form' %}</a></li>
        <li class="disabled"><a>{% trans 'Actuacion' %}</a></li>
        <li class="disabled"><a>{% trans 'Reglas Incidencias' %}</a></li>
        <li class="active"><a>{% trans 'Sincronizar' %}</a></li>
    </ul>
{% endblock %}

{% block form_render %}
    {% with form as form %}
        {{ form.non_field_errors }}
        <div class="form-group row">
            {{ form.evitar_duplicados.errors }}
            <label class="col-sm-3 control-label" for="{{ form.evitar_duplicados.id_for_label }}">Evitar duplicados: </label>
            <div class="col-sm-3">
                {{ form.evitar_duplicados }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.evitar_sin_telefono.errors }}
            <label class="col-sm-3 control-label" for="{{ form.evitar_sin_telefono.id_for_label }}">Evitar sin telefono: </label>
            <div class="col-sm-3">
                {{ form.evitar_sin_telefono }}
            </div>
        </div>
        <div class="form-group row">
            {{ form.prefijo_discador.errors }}
            <label class="col-sm-3 control-label" for="{{ form.prefijo_discador.id_for_label }}">Prefijo discador: </label>
            <div class="col-sm-3">
                {{ form.prefijo_discador }}
            </div>
        </div>
        {% if tipo_interaccion == 2 %}
            <div class="form-group row">
                {{ form.columnas.errors }}
                <label class="col-sm-3 control-label" for="{{ form.columnas.id_for_label }}">Columnas: </label>
                <div class="col-sm-6">
                    {{ form.columnas }}
                </div>
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}
