{% extends "campana/wizard_base.html" %}
{% load i18n %}

{% block nav %}
    <h1>{% trans 'Campaña Dialer: Sincronizar'  %} </h1>

    <ul class="nav nav-indicators">
        <li class="disabled"><a>{% trans 'Campaña' %}</a></li>
        <li class="disabled"><a>{% trans 'Cola' %}</a></li>
        <li class="disabled"><a>{% trans 'Opciones de calificación' %}</a></li>
        <li class="disabled"><a>{% trans 'Parámetros extra web form' %}</a></li>
        <li class="disabled"><a>{% trans 'Actuacion' %}</a></li>
        <li class="disabled"><a>{% trans 'Reglas Incidencias' %}</a></li>
        <li class="active"><a>{% trans 'Sincronizar' %}</a></li>
    </ul>
{% endblock %}

{% block form_render %}
    {% with form as form %}
        {{ form.non_field_errors }}
        <div class="form-row">
            <div class="col-md-6">
                <label for="{{ form.evitar_duplicados.id_for_label }}">Evitar duplicados: </label>
                {{ form.evitar_duplicados }}
                {{ form.evitar_duplicados.errors }}
            </div>
            <div class="col-md-6">
                <label for="{{ form.evitar_sin_telefono.id_for_label }}">Evitar sin telefono: </label>
                {{ form.evitar_sin_telefono }}
                {{ form.evitar_sin_telefono.errors }}
            </div>
            <div class="col-md-6">
                <label for="{{ form.prefijo_discador.id_for_label }}">Prefijo discador: </label>
                {{ form.prefijo_discador }}
                {{ form.prefijo_discador.errors }}
            </div>
            {% if tipo_interaccion == 2 %}
                <div class="col-md-6">
                    <label for="{{ form.columnas.id_for_label }}">Columnas: </label>
                    {{ form.columnas }}
                    {{ form.columnas.errors }}
                </div>
            {% endif %}
        </div>
    {% endwith %}
{% endblock %}
