{% extends "base.html" %}
{% load static %}


{% block content %}

    <h1>Templates de campañas dialer</h1>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Nombre</th>

                <th>Acciones&nbsp;&nbsp;</th>

            </tr>
        </thead>
        <tbody>
        {% for campana in templates_activos %}
            <tr>
                <td width="25%">
                    <a href="{% url 'campana_dialer_template_detalle' campana.pk %}">
                    {% if campana.nombre_template %}
                        {{ campana.nombre_template }}
                    {% else %}
                        {{ campana.nombre }}
                    {% endif %}
                    </a>
                </td>

                <td width="14%">
                    <div class="dropdown">
                      <button class="btn btn-light dropdown-toggle" type="button" id="dropdownEditMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opciones
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownEditMenu">
                        <a class="dropdown-item" href="{% url 'crea_campana_dialer_template' campana.pk 0 %}"><span class="icon far fa-circle" aria-hidden="true"></span>Crear campaña de template</a>
                        <a class="dropdown-item" href="{% url 'campana_dialer_template_elimina' campana.pk %}"><span class="icon icon-trash" aria-hidden="true"></span>Eliminar</a>
                      </div>
                    </div>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="5">No existen templates campañas dialer</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
