{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="col-md-9">
        <table class="table table-striped">
            <tr>
                <td><strong>Template de campaña dialer </strong></td>
                <td>{{object.nombre_template}}</td>
            </tr>
            <tr>
                <td>Nombre de campana</td>
                <td>{{object.nombre}}</td>
            </tr>
            <tr>
                <td>Calificacion campana</td>
                <td>{{object.calificacion_campana}}</td>
            </tr>
            <tr>
                <td>Tipo de interacion {{object.get_tipo_interaccion_display}}: </td>
                <td>
                    {% if object.tipo_interaccion == 1 %}
                    {{ object.formulario }}
                    {% else %}
                    {{ object.sitio_externo }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2"><strong>Cola</strong></td>
            </tr>
            <tr>
                <td>Cantidad Max de llamadas:</td>
                <td>{{object.queue_campana.maxlen}}</td>
            </tr>
            <tr>
                <td>Tiempo de descanso entre llamadas:</td>
                <td>{{object.queue_campana.wrapuptime}}</td>
            </tr>
            <tr>
                <td>Nivel de Servicio:</td>
                <td>{{object.queue_campana.servicelevel}}</td>
            </tr>
            <tr>
                <td>Estrategia de distribucion:</td>
                <td>{{object.queue_campana.get_strategy_display}}</td>
            </tr>
            <tr>
                <td>Importancia de campaña:</td>
                <td>{{object.queue_campana.weight}}</td>
            </tr>
            <tr>
                <td>Tiempo de espera en cola:</td>
                <td>{{object.queue_campana.wait}}</td>
            </tr>
            <tr>
                <td>Grabar llamados:</td>
                <td>
                    {% if object.queue_campana.auto_grabacion %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Detectar contestadores:</td>
                <td>
                    {% if object.queue_campana.detectar_contestadores %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Dias de actuacion:</td>
                <td>{{object.actuacionvigente.get_dias_vigente_display}}</td>
            </tr>
            <tr>
                <td>Horario de actuacion:</td>
                <td>{{object.actuacionvigente.hora_desde}}hs - {{object.actuacionvigente.hora_hasta}}hs</td>
            </tr>
        </table>
    <h4>Reglas de incidencia</h4>
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr class="fts-table-bg">
                            <th>Estado</th>
                            <th>Con estado personalizado</th>
                            <th>Reintentar más tarde</th>
                            <th>Modo de reintento</th>
                            <th>Intento max.</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for reglas in object.reglas_incidencia.all %}
                                <tr>
                                    <td>{{reglas.get_estado_display}}</td>
                                    <td>
                                        {% if reglas.estado_personalizado %}
                                            {{ reglas.estado_personalizado }}
                                        {% endif %}
                                    </td>
                                    <td>{{ reglas.reintentar_tarde }}s.</td>
                                    <td>{{ reglas.get_en_modo_display}}</td>
                                    <td>{{ reglas.intento_max }}</td>
                                </tr>
                             {% empty %}
                                <tr>
                                    <td colspan="5  ">
                                        <p class="text-center text-danger">
                                            <em>No se encontraron reglas creadas.</em>
                                        </p>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
    <a href="{% url 'lista_campana_dialer_template' %}" class="btn-sm btn-info">Volver a listado de template</a>
    </div>
{% endblock %}