// rebrands override file
// any variable from ./_variables.scss and ../saga/_variables can be
// customized here since they use the `!default` Sass flag.

// All the variants of the saga theme: blue, dark-pink, green,
// orange and purple only customize the value of two variables: 
// $primaryColor and $highlightBg.

// @import '../../../../ominicontacto_app/static/ominicontacto/SCSS/_variables';

// saga-blue      #2196F3
// saga-dark-pink #F71883
// saga-green     #4CAF50
// saga-orange    #FFC107
// saga-purple    #9C27B0
// $primaryColor: $primary-color; // from ominicontacto/SCSS/_variables
$primaryColor: var(--primary-color, #F71883);

// $primaryLightColor: $primary-light-color; // from ominicontacto/SCSS/_variables
$primaryLightColor: var(--primary-light-color, #fa4da0);

// $primaryDarkColor: #ec0875;
$primaryDarkColor: color-mix(in srgb, var(--primary-color), #000 10%);

// $primaryDarkerColor: #d20768;
$primaryDarkerColor: color-mix(in srgb, var(--primary-color), #000 20%);

// $textSecondaryColor: $secondary-color; // from ominicontacto/SCSS/_variables
$textSecondaryColor: null;

// saga-blue      #E3F2FD
// saga-dark-pink #F3E5F5
// saga-green     #E8F5E9
// saga-orange    #FFF3E0
// saga-purple    #F3E5F5
// $highlightBg: null;
