{% extends "base.html" %}
{% load static %}

{% block content %}


            <ul class="nav nav-tabs">
                <li><a href="{%  url 'campana_update' campana.pk %}">Campaña</a></li>
                <li class="active"><a>Datos Básicos de la cola</a></li>
                <li class="disabled"><a>Agregar agentes a la cola de la campaña</a></li>
            </ul>
            <br>
                {% if object.name %}
                    <p>Modificar datos de la cola <strong>{{ object.name }}</strong></p>
                {% endif %}
        <form action = "" method = "post">
            <div class="col-lg-4">
            {% csrf_token %}
            <table class="table table-striped">
		        {{form.as_table}}
            </table>
            <button type="submit" id="id_registrar" class="btn btn-success btn-lg">
                Siguiente
            </button>
            <a href="{% url 'campana_list' %}">Cancelar</a>
                    </div>
	    </form>



{% endblock %}