# Add extra options here
{% if is_docker == "false" %}
OPTIONS="-i external/{{ omni_ip }}!{{ public_ip.stdout }} -n 127.0.0.1:22222 -m 20000 -M 30000 -L 7 --log-facility=local1"
{% elif is_docker == "true" %}
OPTIONS="-i external/{{ omni_ip }}!{{ public_ip.stdout }} -n {{ omni_ip }}:22222 -m 20000 -M 30000 -L 7 --log-facility=local1"
{% endif %}
