[submodule "modules/websockets"]
    path = modules/websockets
    url = https://gitlab.com/omnileads/omnileads-websockets.git
    branch = oml-2207-dev-websockets-ha
[submodule "modules/nginx"]
    path = modules/nginx
    url = https://gitlab.com/omnileads/omlnginx.git
    branch = master
[submodule "modules/kamailio"]
    path = modules/kamailio
    url = https://gitlab.com/omnileads/omlkamailio.git
    branch = master
[submodule "modules/rtpengine"]
    path = modules/rtpengine
    url = https://gitlab.com/omnileads/omlrtpengine.git
    branch = master
[submodule "modules/redis"]
    path = modules/redis
    url = https://gitlab.com/omnileads/omlredis.git
    branch = master
[submodule "modules/postgresql"]
    path = modules/postgresql
    url = https://gitlab.com/omnileads/omlpgsql.git
    branch = master
[submodule "modules/asterisk"]
    path = modules/asterisk
    url = https://gitlab.com/omnileads/omlacd.git
    branch = master
