/oml_settings_local.py
/ominicontacto_app/static/ominicontacto/JS/config.js
/ominicontacto_app/static/ominicontacto/voip.cert
/Omnisup/config.php
/ominicontacto_voip/asterisk-files/conf/oml_manager.conf
/ominicontacto_voip/kamailio-files/kamailio-local.cfg
/Omnisup/static/Js/config.js
oml-uwsgi.pid
.idea/
virtualenv/
*.pyc
*~
/.coverage
atom-sftp-sync.json
deployment-config.json
