.backgroundWebPhone {
  height: 100%;
  background-color: #2E2E2E;
  box-shadow: 10px 10px 5px grey;
}
.filaBotonesDiscar {
  padding-top: 3%;
  margin-left: 5%;
  width: 100%;
  margin-bottom: 1%;
}
.filaBotonesDiscar2 {
  padding-top: 3%;
  margin-left: 10%;
  width: 82%;
  margin-bottom: 1%;
}
.botonera1 {
  margin-top: 2%;
  margin-left: 10%;
  height: 14px;
}
.filaCampoNroDiscar {
  margin-top: 2%;
  width: 80%;
  margin-left: 10%;
}
.tituloLlamEntrante {
  color: darkcyan;
  font-size: 18px;
  padding-left: 10%
}
.cuerpoLlamEntrante {
  padding-left: 5%
}
.libreta {
	overflow: scroll;
  height: 140px;
}
.webphone {
  width: 45px;
  height: 45px;
  float: left;
}
.webphone:hover {
  position: relative;
  -webkit-animation-name: example;
  -webkit-animation-duration: 0.6s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  -moz-animation-name: example;
  -moz-animation-duration: 0.6s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-direction: alternate;
}
@keyframes example {
    0%   {left:0px; bottom:5px;}
    75%  {left:0px; bottom:10px;}
    100% {left:0px; bottom:5px;}
}
