{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block extra_js %}
    <script src="{% static 'ominicontacto/JS/rutas-entrantes-lib.js' %}"></script>
    <script src="{% static 'ominicontacto/JS/ruta-entrante.js' %}"></script>
{% endblock %}

{% block content %}
    {% block header %}{% endblock %}
    <form action="" role="form" method="POST">
        <div class="row">
            {% include "base_form_fields.html" with form=form %}
        </div>
        <button type="submit" id="id_registrar" class="btn btn-primary">
            {% trans 'Guardar' %}
        </button>
    </form>
    <div class="modal fade" id="modalDestinoEntrante" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4>{% trans 'Adicionar nuevo' %} </h4>
                </div>
                <form action="" role="form" method="POST">
                    <div class="modal-body" id="formDestinoEntrante">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
