# Add extra options here
{% if ansible_os_family == "RedHat" %}
OPTIONS="-i {{ omnicentos_ip }} -n 127.0.0.1:22222 -m 20000 -M 30000 -L 7 --log-facility=local1"
{% elif ansible_os_family == "Sangoma" %}
OPTIONS="-i {{ omnifreepbx_ip }} -n 127.0.0.1:22222 -m 20000 -M 30000 -L 7 --log-facility=local1"
{% endif %}
