RUN_KAMAILIO=yes
USER={{ usuario }}
GROUP={{ usuario }}
SHM_MEMORY=64
PKG_MEMORY=8
PIDFILE={{ kamailio_location }}/var/run/kamailio/kamailio.pid
CFGFILE={{ kamailio_location }}/etc/kamailio/kamailio.cfg
DUMP_CORE=yes
