{% extends "base.html" %}
{% load static %}

{% block content %}

        <div class="panel-body">
            <div class="col-lg-8">
                <form method="post">{% csrf_token %}
                    <h4>Archivo de Audio <strong>{{ object.descripcion }}</strong></h4>
                    <h4>¿Esta seguro que desea eliminar este Audio? </h4> 
                    
                    <button type="submit" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove"></span> Eliminar
                    </button>
                    <a href="{% url 'lista_archivo_audio' %}">Cancelar</a>
                </form>
            </div>
        </div>

{% endblock %}
