{% extends "base.html" %}
{% load static %}

{% block content %}
<br/>
<div>

    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th></th>

            </tr>
        </thead>
        <tbody>
        {% for audio in audios %}
            <tr>
                <td><a href="{% url 'edita_archivo_audio' audio.id %}">{{ audio.descripcion }}</a></td>
                <td>
                    <a href="{% url 'eliminar_archivo_audio' audio.pk %}" class="btn btn-danger btn-sm">
                        <span class="far fa-trash-alt"></span>
                        Eliminar
                    </a>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="2">No se encontraron Audios</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}