{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{% trans 'Omnileads - Permission Denied' %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}" >
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'ominicontacto/CSS/admin.css' %}">
<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Asap:400,500" rel="stylesheet">
<link rel="stylesheet" href="{% static 'ominicontacto/CSS/oml-icons.css' %}">
</head>
<body class="wrapper-page-error">
    <div class="page-error-bg"></div>
    <div>
        <h1>{% trans 'Permiso denegado' %}<span>403</span></h1>
        <hr>
        <h2>{% trans 'Ud. no posee los permisos requeridos para acceder a esta pagina.' %}</h2>
        <p>{% trans 'Puede <a href="javascript:history.go(0);">reintentar</a> o <a href="/">volver a inicio' %}</a>.</p>
    </div>
</body>
</html>
