{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<div class="col-md-6 col-md-offset-3">

    <table class="table table-stripped">
        <thead>
            <tr>
                <th>id</th>
                <th>nombre del agente</th>
                <th>sip_extension</th>
                <th>modulos</th>
                <th>grupo</th>
                <th>campañas</th>
            </tr>
        </thead>
        <tbody>
        {% for agente in object_list %}
            <tr>
                <td>{{ agente.id }}</td>
                <td>{{ agente.user.get_full_name}}</td>
                <td>{{ agente.sip_extension }}</td>
                <td>{{ agente.get_modulos}}</td>
                <td>{{ agente.grupo}}</td>
                <td>
                    {% for queue in agente.campana_member.all %}
                        {{ queue.queue_name.campana.nombre }}
                    {% endfor %}
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="5">No existen agentes</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}