{% load staticfiles %}
{% load compress %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Omnileads {% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /    >
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}" >
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/bootstrap-datetimepicker.min.css' %}"></link>
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/daterangepicker.css' %}"></link>
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/admin.css' %}">    

    {% block extra_css %}{% endblock %}
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Asap:400,500" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/fa-solid.css' %}">
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/fa-regular.css' %}">
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/oml-icons.css' %}">    
    <!-- jquery UI -->
    {% compress js %}
    <script src="{% static 'jquery-2.2.4.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'bootstrap-4.0.0/js/bootstrap.bundle.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'ominicontacto/JS/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/bootstrap-datetimepicker.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/daterangepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/djangoStyle.js' %}"></script>
    {% endcompress %}
    {% block head_js %}
    {% endblock %}

</head>
<body>
    {% if user.is_authenticated and user.get_tiene_permiso_administracion %}
    <div class="wrapper-main">
        <nav id="sidebar">
            <div class="sidebar-header">
                <a href="{% url 'index' %}">
                    <img id="nav-logo" src="{% static 'ominicontacto/Img/ic_logo.svg' %}">
                    <img id="nav-logo-symbol" src="{% static 'ominicontacto/Img/ic_logo_symbol.svg' %}">
                </a>
            </div>                

            <ul id="nav-main-menu" class="list-unstyled">
                {% if user.get_is_supervisor_normal or user.get_is_administrador %}
                <li>    
                    <span class="icon far fa-user"></span>
                    <a class="menu-header" href="#menuUsers" role="button" data-toggle="collapse" aria-expanded="false">Usuarios</a>
                    <ul class="collapse list-unstyled submenu" id="menuUsers" data-parent="#nav-main-menu">
                        <li>
                            <a href="{% url 'user_list' page=1 %}">Usuarios</a>
                        </li>
                        {% if user.get_is_administrador %}
                        <li>
                            <a href="{% url 'user_nuevo' %}">Nuevo Usuario</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'user_api_crm_list' %}">Usuarios para api crm</a>
                        </li>
                        <li>
                            <a href="{% url 'user_api_crm_create' %}">Nuevo usuario api crm</a>
                        </li>
                        {% endif %}
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'agente_list' %}">Agentes</a>
                        </li>
                        {% if user.get_is_administrador %}
                        <li>
                            <a href="{% url 'supervisor_list' %}">Supervisores</a>
                        </li>
                        {% endif %}
                        <hr>
                        <li>
                            <a href="{% url 'grupo_list' %}">Grupos</a>
                        </li>
                        {% if user.get_is_administrador %}
                        <li>
                            <a href="{% url 'grupo_nuevo' %}">Nuevo Grupo</a>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                {% endif %}
                {% if user.get_is_administrador %}
                <li>
                    <span class="icon far fa-building"></span>
                    <a class="menu-header" href="#menuModules" role="button" data-toggle="collapse" aria-expanded="false">Módulos</a>
                    <ul class="collapse list-unstyled submenu" id="menuModules" data-parent="#nav-main-menu">
                        <li>
                            <a href="{% url 'modulo_list' %}">Módulos</a>
                        </li>
                        <li>
                            <a href="{% url 'modulo_nuevo' %}">Habilitar Módulo</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="icon far fa-file-audio"></span>
                    <a class="menu-header" href="#menuAudio" role="button" data-toggle="collapse" aria-expanded="false">Audios</a>
                    <ul class="collapse list-unstyled submenu" id="menuAudio" data-parent="#nav-main-menu">
                        <li>
                            <a href="{% url 'lista_archivo_audio' %}">Lista de Audios</a>
                        </li>
                        <li>
                            <a href="{% url 'create_archivo_audio' %}">Nuevo audio</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if user.get_is_supervisor_normal or user.get_is_administrador %}
                <li>
                    <span class="icon far fa-flag"></span>
                    <a class="menu-header" href="#menuCampaign" role="button" data-toggle="collapse" aria-expanded="false">Campaña</a>
                    <ul class="collapse list-unstyled submenu" id="menuCampaign" data-parent="#nav-main-menu">
                        <li>
                            <a href="{% url 'campana_list' %}">Campañas Entrantes</a>
                        </li>
                        <li>
                            <a href="{% url 'campana_nuevo' %}">Nueva campaña Entrante</a>
                        </li>
                        <li>
                            <a href="{% url 'campana_dialer_list' %}">Campañas Dialer</a>
                        </li>
                        <li>
                            <a href="{% url 'campana_dialer_create' %}">Nueva campaña Dialer</a>
                        </li>
                        <li>
                            <a href="{% url 'campana_manual_list' %}">Campañas Manuales</a>
                        </li>
                        <li>
                            <a href="{% url 'campana_manual_create' %}">Nueva campaña Manual</a>
                        </li>
                        <li>
                            <a href="{% url 'campana_preview_list' %}">Campañas Preview</a>
                        </li>
                        <li>
                            <a href="{% url 'campana_preview_create' %}">Nueva campaña Preview</a>
                        </li>
                        {% if user.get_is_administrador %}
                        <li>
                            <a href="{% url 'regenerar_asterisk' %}">Regenerar Asterisk</a>
                        </li>
                        {% endif %}
                        <hr>
                        <li>
                            <a href="{% url 'campana_entrante_template_list' %}">{% trans 'Templates de campañas entrantes' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'campana_entrante_template_create' %}">{% trans 'Crear nuevo template de campaña entrante'%}</a>
                        <li>
                            <a href="{% url 'lista_campana_dialer_template' %}">Templates de campañas dialer</a>
                        </li>
                        <li>
                            <a href="{% url 'campana_dialer_template_create' %}">Nuevo template de campaña dialer</a>
                        </li>
                        <li>
                            <a href="{% url 'campana_manual_template_list' %}">{% trans 'Templates de campañas manuales' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'campana_manual_template_create' %}">{% trans 'Nuevo template de campaña manual'%}</a>
                        <li>
                        <li>
                            <a href="{% url 'campana_preview_template_list' %}">{% trans 'Templates de campañas preview' %}</a>
                        </li>
                        <li>
                            <a href="{% url 'campana_preview_template_create' %}">{% trans 'Nuevo template de campaña preview'%}</a>
                        <li>

                        <hr>
                        <li>
                            <a href="{% url 'calificacion_list' %}">Calificaciones</a>
                        </li>
                        <li>
                            <a href="{% url 'calificacion_nuevo' %}">Nueva Calificación</a>
                        </li>
                        <hr>
                        <li>
                            <a href="{% url 'formulario_list' %}">Formularios</a>
                        </li>                        
                        <li>
                            <a href="{% url 'formulario_nuevo' %}">Nuevo formulario</a>
                        </li>
                        <hr>
                        <li>
                            <a href="{% url 'sitio_externo_list' %}">Sitios externos</a>
                        </li>                        
                        <li>
                            <a href="{% url 'sitio_externo_create' %}">Nuevo sitio</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="icon far fa-stop-circle"></span>
                    <a class="menu-header" href="#menuBreaks" role="button" data-toggle="collapse" aria-expanded="false">Pausas</a>
                    <ul class="collapse list-unstyled submenu" id="menuBreaks" data-parent="#nav-main-menu">
                        <li>
                            <a href="{% url 'pausa_list' %}">Pausas</a>
                        </li>
                        <li>
                            <a href="{% url 'pausa_nuevo' %}">Nueva pausa</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="icon far fa-id-badge"></span>
                    <a class="menu-header" href="#menuContacts" role="button" data-toggle="collapse" aria-expanded="false">Contactos</a>
                    <ul class="collapse list-unstyled submenu" id="menuContacts" data-parent="#nav-main-menu">
                        <li>
                            <a href="{% url 'lista_base_datos_contacto' %}">Base de datos de contactos</a>
                        </li>                        
                        <li>
                            <a href="{% url 'nueva_base_datos_contacto' %}">Nueva base de datos de contactos</a>
                        </li>
                        <hr>
                        <li>
                            <a href="{% url 'back_list_list' %}">Blacklists</a>
                        </li>                        
                        <li>
                            <a href="{% url 'back_list_create' %}">Nueva Blacklist</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                <li>
                    <span class="icon fas fa-search"></span>
                    <a class="menu-link" href="{% url 'grabacion_buscar' 1 %}">Buscar Grabación</a>
                </li>
                <li>
                    <span class="icon far fa-chart-bar"></span>
                    <a class="menu-header"class="menu-header" href="#menuReports" role="button" data-toggle="collapse" aria-expanded="false">Reportes</a>
                    <ul class="collapse list-unstyled submenu" id="menuReports" data-parent="#nav-main-menu">
                        {% if user.get_is_administrador %}
                        <li>
                            <a href="{% url 'reporte_llamadas' %}">Llamadas</a>
                        </li>
                         {% endif %}
                         {% if user.get_is_supervisor_normal or user.get_is_administrador %}
                        <li>
                            <a href="{% url 'agente_tiempos' %}">Agentes</a>
                        </li>
                        {% endif %}
                        <li>
                            {# <a href="#">IM</a> #}
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="icon far fa-compass"></span>
                    <a class="menu-header" href="#menuSupervise" role="button" data-toggle="collapse" aria-expanded="false">Supervision</a>
                    <ul class="collapse list-unstyled submenu" id="menuSupervise" data-parent="#nav-main-menu">
                        <li>
                            <a href="{% url 'supervision_externa_url' %}">Llamadas Activas</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span class="icon far fa-question-circle"></span>
                    <a class="menu-link" href="{% url 'acerca' %}">Acerca de</a>
                </li>
            </ul>
        </nav>
        
        <div class="wrapper-content">
            <div id="topbar">
                <div class="nav">
                    <button type="button" id="sidebarCollapse" class="btn">
                        <span class="fas fa-bars"></span>
                    </button>                
                    <div id="nav-user">
                        <a>{{ user.get_full_name }}</a>
                        <a class="btn" href="{% url 'logout' %}" title="Deslogueo">Salir</a>
                    </div>
                </div>            
            </div>
            <div class="wrapper-info">
    {% endif %}
            {% include 'messages.html' %}
                {% if user.is_authenticated  %}
                    {% if user.get_tiene_permiso_administracion  %}
                       {% block content %}
                       {% endblock %}
                    {% else %}
                        <div class="alert alert-warning">
                            <h1>Permiso denegado</h1>
                            <p>Ud. no posee los permisos requeridos para acceder a esta pagina.</p>
                        </div>
                    {% endif %}
                {% else %}
                    {% block logueo %}
                    {% endblock %}
                {% endif %}
            </div>
        </div>
    </div>
{% block extra_js %}{% endblock %}

<script type="text/javascript">

$(document).ready(function () {

    // Get current window path
    currentPath = window.location.pathname;

    // Add active class to current selected anchor
    $("a[href='" + currentPath + "']").addClass("active");

    // Expand sidebar menus for current selected anchor

    $("a[href='" + currentPath + "']").parent().parent(".collapse").collapse('show');

    // Add active class to sidebar icon
    $("a[href='" + currentPath + "']").parent().parent().siblings(".icon").addClass('active');
    $("a[href='" + currentPath + "']").siblings(".icon").addClass('active');

    // //Toogle sidebar and keep current state on page reload    
    //retrieve current state
    $('#sidebar').toggleClass(window.sessionStorage.toggled);

    /* Toggle */
    $('#sidebarCollapse').on('click',function(){

       if (window.sessionStorage.toggled != "active" ) {
          $('#sidebar').toggleClass("active", true );
          window.sessionStorage.toggled = "active";
       } else {
          $('#sidebar').toggleClass("active", false );
          window.sessionStorage.toggled = "";
       }

    });

});


</script>

</body>
</html>
