{% extends "base.html" %}
{% load static %}
{% block head_js %}
<script type="text/javascript">
   $(function() {
                var start = moment().subtract(29, 'days');
                var end = moment();
                function cb(start, end) {
                    $('#id_fecha').html(start.format('DD/MM/YYYY') + ' - ' + end.format('DD/MM/YYYY'));
                }


 $('#id_fecha').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
  });

  $('#id_fecha').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
});

            // Init daterange plugin
            $('#id_fecha').daterangepicker(
                {
                 locale: {
                    format: 'DD/MM/YYYY'
                 },

                autoUpdateInput: false,
                ranges: {
                    'Hoy': [moment(), moment()],
                    'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Ultimos 7 Días': [moment().subtract(6, 'days'), moment()],
                    'Ultimos 30 Días': [moment().subtract(29, 'days'), moment()],
                    'Este Mes': [moment().startOf('month'), moment().endOf('month')],
                    'Ultimo Mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },

        }, cb);

        cb(start, end);



});

function filtrar_pagina(pagina) {
            $("#id_pagina").val(pagina);
             $("#form-buscar-grabacion").submit();
        }
        ;
    </script>
{% endblock %}
{% block content %}

<div class="col-md-4">

    <form id="form-buscar-grabacion" role="form" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
        </table>
        <button type="submit" id="id_buscar_btn" class="btn btn-primary">
            Buscar
        </button>
    </form>
</div>
<div class="col-md-8">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Tipo de llamada</th>
                <th>id_cliente</th>
                <th>tel_cliente</th>
                <th>Agente</th>
                <th>Campaña</th>
                <th>Grabación</th>
            </tr>
        </thead>
        <tbody>
        {% for grabacion in listado_de_grabaciones %}
            <tr>
                <td>{{ grabacion.fecha|date:"Y-m-d H:i"}}</td>
                <td>{{ grabacion.get_tipo_llamada_display}}</td>
                <td>{{ grabacion.id_cliente }}</td>
                <td>{{ grabacion.tel_cliente}}</td>
                <td>{{ grabacion.obtener_nombre_agente}}</td>
                <td>{{ grabacion.campana}}</td>
                <td>
                    <audio controls>
                        <source src="{{ grabacion_url }}/{{ grabacion.fecha|date:"Y-m-d"}}/{{grabacion.grabacion}}" type='audio/mpeg'>
                            Escuchar
                    </audio>
                    <a href="{{ grabacion_url }}/{{ grabacion.fecha|date:"Y-m-d"}}/{{grabacion.grabacion}}" target="_blank">
                        <span class="glyphicon glyphicon-download-alt" aria-hidden="true" title="Descargar"></span>
                    </a>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="7">No existen grabaciones</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

    <nav>
                    <ul class="pagination pagination-lg">

                        <li class="{% if not listado_de_grabaciones.has_previous %} disabled {% endif %}">
                        {% if listado_de_grabaciones.has_previous %}
                            <a href="#" onclick="javascript:filtrar_pagina({{listado_de_grabaciones.previous_page_number}})">
                            &laquo;
                            </a>
                        {% else %}
                            <a href="javascript:void(0);">
                            &laquo;
                            </a>
                        {% endif %}
                        </li>

                        <li>
                            <a href="javascript:void(0);">
                            Página {{ listado_de_grabaciones.number }} de {{ listado_de_grabaciones.paginator.num_pages }}
                            </a>
                        </li>

                        <li class="{% if not listado_de_grabaciones.has_next %} disabled {% endif %}">
                            {% if listado_de_grabaciones.has_next %}
                            <a href="#" onclick="javascript:filtrar_pagina({{listado_de_grabaciones.next_page_number}})">

                            &raquo;
                            </a>
                            {% else %}
                            <a href="javascript:void(0);">
                            &raquo;
                            </a>
                            {% endif %}
                        </li>

                    </ul>
                </nav>

</div>
{% endblock %}