{% extends "base.html" %}
{% load static %}

{% block content %}
<div>
    <form method="post">{% csrf_token %}
        <h4>Pausa <strong>{{ object.nombre}}</strong></h4>
        {% if object.eliminada %}
          <p>¿Desea reactivar esta Pausa? </p>
        {% else %}
          <p>¿Está seguro que desea eliminar esta Pausa? </p>
        {% endif %}
        <button type="submit" class="btn btn-danger">
        {% if object.eliminada %}
            Reactivar
        {% else %}
            Eliminar
        {% endif %}
        </button>
        <a class="btn btn-outline-danger" href="{% url 'pausa_list' %}">Cancelar</a>
    </form>
</div>
{% endblock %}