{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div id="crm" class="crm"></div>
<!--    <p>hola {{ user.first_name }} {{ user.last_name }} {{ user.username }}</p>
    <p>{{ user.get_agente_profile.sip_extension }}</p>
    <p>{{ user.get_agente_profile.sip_password }}</p>-->


{% endblock %}
{% block logueo %}
<h1>Bievenidos a Omnileads</h1>
<h3>Debe loguearse para operar con nuestro sistema</h3>
<a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in" aria-hidden="true" title="Login"> Loguearse</span></a>
 <a class="btn btn-info"  href="/home/freetech/kamailio_cert/voip.cert" target="_blank">
     <span class="glyphicon glyphicon-download-alt" aria-hidden="true" title="descarga">
            bajar certificado digital</span>
        </a>
{% endblock %}