{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div id="crm" class="crm"></div>
<!--    <p>hola {{ user.first_name }} {{ user.last_name }} {{ user.username }}</p>
    <p>{{ user.get_agente_profile.sip_extension }}</p>
    <p>{{ user.get_agente_profile.sip_password }}</p>-->


{% endblock %}
{% block logueo %}
<div class="wrapper-content welcome">
	<h1>Bievenidos a Omnileads</h1>
	<h4>Debe loguearse para operar con nuestro sistema</h4>
	<div>
		<a class="btn btn-primary" role="button" href="{% url 'login' %}">Ingresar</a>
	</div>
	<div>
		<a class="btn btn-outline-primary" role="button" href="/static/ominicontacto/voip.cert" target="_blank">bajar 	certificado digital</span></a>
	</div>
	</div>        
{% endblock %}
