{% load static %}

{% for message in messages %}
    {% if "error" in message.tags %}

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <button type="button" class="close btn" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>¡Error!</h1>
            <p>{{ message|safe  }}</p>
        </div>

    {% elif "warning" in message.tags %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close btn" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>¡Atención!</h1>
            <p>{{ message|safe  }}</p>
        </div>

    {% elif "success" in message.tags %}

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <button type="button" class="close btn" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>Finalizado</h1>
            <p>{{ message|safe }}</p>
        </div>

    {% elif "info" in message.tags %}

        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close btn" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>Información</h1>
            <p>{{ message|safe  }}</p>
        </div>

    {% elif "debug" in message.tags %} {# the same as "INFO" #}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close btn" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>Información</h1>
            <p>{{ message|safe  }}</p>
        </div>

    {% else %} {# the same as "INFO" #}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <button type="button" class="close btn" datadismiss="alert" aria-label="Cerrar">&times;</button>
            <h1>Información</h1>
            <p>{{ message|safe  }}</p>
        </div>

    {% endif %}
{% endfor %}
