{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Móduos</h1>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
    {% for modulo in object_list %}
        <tr>
            <td>{{ modulo.id }}</td>
            <td>{{ modulo.nombre }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opciones
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownActions">
                        <a class="dropdown-item" href="{% url 'modulo_update' modulo.id %}">
                            <span class="icon icon-pencil"></span>Editar
                        </a>
                        <a class="dropdown-item" href="{% url 'modulo_delete' modulo.id %}">
                            <span class="icon icon-trash"></span>Eliminar
                        </a>                            
                    </div>
                </div>
            </td>
        </tr>
   {% empty %}
    <tr>
        <td>No existen modulos</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}