{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="col-md-3">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
        {% for modulo in object_list %}
            <tr>
                <td>{{ modulo.id }}</td>
                <td>{{ modulo.nombre }}</td>
                <td>
                    <a href="{% url 'modulo_update' modulo.id %}"><span class="glyphicon glyphicon-edit" aria-hidden="true" title="Modificar"></span></a>
                    <a href="{% url 'modulo_delete' modulo.id %}"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Eliminar Grupo"></span></a>

                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="3">No existen modulos</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}