{% extends "base.html" %}
{% load static %}

{% block content %}
<br/>
<div class="col-md-3 col-md-offset-4">

    <table class="table table-stripped">
        <thead>
            <tr>
                <th>id</th>
                <th>Nombre</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
        {% for pausa in object_list %}
            <tr>
                <td>{{ pausa.id }}</td>
                <td>{{ pausa.nombre }}</td>
                <td>
                    <a href="{% url 'pausa_update' pausa.id %}"><span class="glyphicon glyphicon-edit" aria-hidden="true" title="Modificar"></span></a>
                    <a href="{% url 'pausa_delete' pausa.id %}"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Eliminar Grupo"></span></a>

                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="3">No existen pausas</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}