{% extends "base.html" %}
{% load static %}

{% block content %}
<br>
<div class="col-md-6 col-md-offset-3">

    <table class="table table-stripped">
        <thead>
            <tr>
                <th>id</th>
                <th>nombre del supervisor</th>
                <th>sip_extension</th>
                <th>Es administrador</th>
            </tr>
        </thead>
        <tbody>
        {% for supervisor in object_list %}
            <tr>
                <td>{{ supervisor.id }}</td>
                <td>{{ supervisor.user.get_full_name}}</td>
                <td>{{ supervisor.sip_extension }}</td>
                <td>
                    {% if  supervisor.is_administrador %}
                        <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                    {% else %}
                           <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    {% endif %}
                </td>
              </tr>
       {% empty %}
        <tr>
            <td colspan="5">No existen supervisores</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}