{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Usuarios Api Crm</h1>

<table class="table">
    <thead>
        <tr>
            <th>usuario</th>
            <th>password</th>
        </tr>
    </thead>
    <tbody>
    {% for user in object_list %}
        <tr>
            <td>{{ user.usuario }}</td>
            <td>{{ user.password}}</td>
            <td>
                <a class="btn btn-light btn-sm" href="{% url 'user_api_crm_update' user.id %}">
                    Editar
                </a>
            </td>
        </tr>
   {% empty %}
    <tr>
        <td>No existen usuarios api crm</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}