[uwsgi]
module = ominicontacto.wsgi:application
env = DJANGO_SETTINGS_MODULE=ominicontacto.settings
master = true
processes = 5
enable-threads = true
home = /opt/omnileads/virtualenv
socket = /opt/omnileads/bin/oml.sock
chmod-socket = 664
socket-timeout = 900
python-path = /opt/omnileads/ominicontacto
python-path = /opt/omnileads/local
pidfile = /opt/omnileads/ominicontacto/oml-uwsgi.pid
die-on-term = true
master-fifo = /opt/omnileads/ominicontacto/.uwsgi-fifo
uid = omnileads
gid = omnileads
daemonize=/opt/omnileads/log/uwsgi.log
static-map = /static=/opt/omnileads/static
