[Unit]
Description=Omnileads - The Open Source Contact Center Solution
Documentation= http://www.omnileads.net
After=syslog.target network-online.target postgresql.service

[Service]
Type=forking
User={{ usuario }}
Environment=PYTHONPATH={{ install_prefix }}
ExecStartPre=/bin/bash -c 'source {{ install_prefix }}virtualenv/bin/activate'
ExecStart={{ install_prefix }}virtualenv/bin/uwsgi --ini {{ install_prefix }}run/oml_uwsgi.ini
ExecReload={{ install_prefix }}virtualenv/bin/uwsgi --reload {{ install_prefix }}run/oml_uwsgi.pid
ExecStop=/opt/omnileads/virtualenv/bin/uwsgi --stop {{ install_prefix }}run/oml_uwsgi.pid
PIDFile={{ install_prefix }}run/oml_uwsgi.pid
RuntimeDirectory=run
RuntimeDirectoryMode=755
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
