.ready {
    color: black;
    background: rgb(236, 238, 234);
    border-radius: 50px;
    padding: 0px 5px;
    text-align: center;
}

.paused {
    color: black;
    background: rgb(224, 185, 61);
    border-radius: 50px;
    padding: 0px 5px;
    text-align: center;
}

.oncall {
    color: white;
    background: rgb(143, 198, 65);
    border-radius: 50px;
    padding: 0px 5px;
    text-align: center;
}

.dialing {
    color: white;
    background: rgb(143, 198, 65);
    border-radius: 50px;
    padding: 0px 5px;
    text-align: center;
}

.unavailable {
    color: black;
    background: rgb(255, 0, 0);
    border-radius: 50px;
    padding: 0px 5px;
    text-align: center;
}

.ringing {
    color: black;
    background: rgb(243, 247, 15);
    border-radius: 50px;
    padding: 0px 5px;
    text-align: center;
}

.filter_group {
    display: flex;
    align-items: center;
} 