{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Omnileads {% endblock %}</title>

    <!-- Bootstrap's  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- jquery UI -->
    <link rel="stylesheet" href="https://code.jquery.com/jquery-2.2.4.min.js">


    {% block head_js %}
    {% endblock %}

</head>
<body>
    {% if user.is_authenticated %}
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid col-lg-12">
                <div class="navbar-header col-lg-2">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                    </button>
                    <a class="navbar-brand" href="{% url 'index' %}">

                    </a>
                </div>

                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{% url 'logout' %}" title="Deslogueo">
                                <span class="glyphicon glyphicon-off"></span>
                            </a>
                        </li>
                    </ul>

                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#">Agentes</a>
                        </li>


                    </ul>
                </div>
            </div>
        </div>

<div class="container">
        <br>
        <br>
        <br>
        <br>
        {% block content %}
        {% endblock %}

    {% else %}
        {% block logueo %}
        {% endblock %} 
    {% endif %}
</div>
</body>
</html>
