[Unit]
Description=Omnileads devenv Application Service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
User={{ docker_user }}
RemainAfterExit=yes
Environment=COMPOSE_FILE={{ deploy_location }}/devenv_stack.yml
ExecReload=/usr/local/bin/docker-compose up -d
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
