{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Nuevo sitio externo</h1>

<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row">
        <div class="col-md-6">
            <label for="{{ form.nombre.id_for_label }}">Nombre:</label>
            {{ form.nombre }}
            {{ form.nombre.errors }}
        </div>
        <div class="col-md-6">
            <label for="{{ form.url.id_for_label }}">Url:</label>
            {{ form.url }}
            {{ form.url.errors }}
        </div>
    </div>
    <hr>
    <button type="submit" id="id_guardar" class="btn btn-primary">
        Guardar
    </button>    
</form>

{% endblock %}
