
                        {% for sitio in sitios_externos %}
                            <tr>
                                <td>
                                    {{ sitio.nombre }}
                                </td>
                                <td>
                                    {{ sitio.url }}
                                </td>
                                <td>
                                    {% if sitio.oculto %}
                                    <a type="button"  href="{% url 'desoculta_sitio_externo' sitio.pk %}" c>
                                        <span class="fas fa-eye" aria-hidden="true" title="visible"></span>
                                    </a>
                                    {% else %}
                                    <a type="button" href="{% url 'oculta_sitio_externo' sitio.pk %}" >
                                        <span class="fas fa-eye-slash" aria-hidden="true" title="ocultar"></span>
                                    </a>
                                    {% endif %}

                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">
                                    <p class="text-center text-danger">
                                        <em>No se encontraron sitios externos creados.</em>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
