
                        {% for sitio in sitios_externos %}
                            <tr>
                                <td>
                                    {{ sitio.nombre }}
                                </td>
                                <td>
                                    {{ sitio.url }}
                                </td>
                                <td>
                                    {% if sitio.oculto %}
                                    <a class="btn btn-light" href="{% url 'desoculta_sitio_externo' sitio.pk %}">
                                        <span class="icon fas fa-eye" aria-hidden="true" title="visible"></span>Hacer visible
                                    </a>
                                    {% else %}
                                    <a class="btn btn-light" href="{% url 'oculta_sitio_externo' sitio.pk %}" >
                                        <span class="icon fas fa-eye-slash" aria-hidden="true" title="ocultar"></span>Ocultar
                                    </a>
                                    {% endif %}

                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="3">
                                    <p>No se encontraron sitios externos creados.</p>
                                </td>
                            </tr>
                        {% endfor %}
