{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="col-md-3">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Fecha desde</th>
                <th>Fecha hasta</th>
                <th>Base de datos</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for campana in object_list %}
            <tr>
                <td width="45%">
                    <a href="{% url 'campana_update' campana.pk %}">{{ campana.nombre }}</a>
                </td>
                <td>
                    {{ campana.fecha_inicio|date:"d/m/Y" }}
                </td>
                <td>{{ campana.fecha_fin|date:"d/m/Y" }}</td>
                <td>
                    {{ campana.bd_contacto }}
                </td>
                <td>
                    <a href="{% url 'queue_update' campana.pk %}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true" title="Modificar cola"></span>
                    </a>
                    <a href="{% url 'queue_member' campana.pk %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true" title="agregar agentes"></span>
                    </a>
                    <a href="{% url 'campana_elimina' campana.pk %}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" title="agregar agentes"></span>
                    </a>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="5">No existen campañas</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}