{% for campana in borradas %}
            <tr>
                <td width="45%">
                    <a href="{% url 'campana_update' campana.pk %}">{{ campana.nombre }}</a>
                </td>
                <td>
                    {{ campana.fecha_inicio|date:"d/m/Y" }}
                </td>
                <td>{{ campana.fecha_fin|date:"d/m/Y" }}</td>
                <td>
                    {{ campana.bd_contacto }}
                </td>
                <td> {{campana.get_estado_display}}  </td>
                <td width="14%">
                    <a href="{% url 'queue_update' campana.pk %}">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true" title="Modificar cola"></span>
                    </a>
                    <a href="{% url 'queue_member_campana' campana.pk %}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true" title="agregar agentes"></span>
                    </a>
                    <a href="{% url 'campana_elimina' campana.pk %}">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" title="eliminar campana"></span>
                    </a>
                    <a href="{% url 'reporte_campana' campana.pk %}">
                        <span class="glyphicon glyphicon-list" aria-hidden="true" title="ver calificaciones"></span>
                    </a>
                    <a href="{% url 'reporte_campana_grafico' campana.pk %}">
                        <span class="glyphicon glyphicon-stats" aria-hidden="true" title="ver reportes graficos"></span>
                    </a>
                    <a type="button" id="{{ campana.id }}" name="{% url 'pausar_campana' %}" class="btn-submit">
                        <span class="glyphicon glyphicon-pause" aria-hidden="true" title="pause"></span>
                    </a>
                    {% if campana.oculto %}
                    <a type="button"  href="{% url 'desoculta_campana' campana.pk %}" c>
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="visible"></span>
                    </a>
                    {% else %}
                    <a type="button" href="{% url 'oculta_campana' campana.pk %}" >
                        <span class="glyphicon glyphicon-eye-close" aria-hidden="true" title="ocultar"></span>
                    </a>
                    {% endif %}
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="5">No existen campañas</td>
        </tr>
        {% endfor %}