{% extends "base.html" %}
{% load static %}

{% block head_js %}
    <script type="text/javascript">
        $(function(){
            $(".btn-submit").click(function (){
                var campana_id = $(this).attr("id");
                var action = $(this).attr("name");
                submit_form(campana_id, action);
            })

            function submit_form(campana_id, action){
                $("#campana_id").val(campana_id);
                $("#form_estados_campanas").attr("action", action);
                $("#form_estados_campanas").submit();
            }
        });


        function mostrar_campanas_ocultas() {

            $.get('{% url  'mostrar_campanas_ocultas' %}',
                    function (data) {
                        $('#t_body_borradas').html(data);

                    });
        }
        ;
    </script>
{% endblock %}

{% block content %}
<h1>Campañas entrantes</h1>

<div>
    <form id="form_estados_campanas" role="form" method="post">
        {% csrf_token %}
        <input type="hidden" id="campana_id" name="campana_id">
    <h2>Campañas Activas</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Base de datos</th>
                <th>Estado</th>
                <th>Acciones&nbsp;&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        {% for campana in activas %}
            <tr>
                <td width="25%">
                    <a href="{% url 'campana_update' campana.pk %}">{{ campana.nombre }}</a>
                </td>
                <td>
                    {{ campana.bd_contacto }}
                </td>
                <td> {{campana.get_estado_display}}  </td>
                <td width="14%">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownCampaignActive" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opciones
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownCampaignActive">
                            <a class="dropdown-item" href="{% url 'queue_member_campana' campana.pk %}">
                                <span class="icon icon-plus"></span>Agregar agentes
                            </a>
                            <a class="dropdown-item" href="{% url 'campana_supervisors' campana.pk %}">
                                <span class="icon icon-eye"></span>Dar permiso para ver
                            </a>
                            <a class="dropdown-item" href="{% url 'campana_reporte_calificacion' campana.pk %}">
                                <span class="icon icon-list"></span>Calificaciones
                            </a>
                            <a class="dropdown-item" href="{% url 'campana_reporte_grafico' campana.pk %}">
                                <span class="icon icon-graph"></span>Reportes
                            </a>
                            <a class="dropdown-item" href="{% url 'campana_elimina' campana.pk %}">
                                <span class="icon icon-trash"></span>Eliminar
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="4">No existen campañas</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <h2>Campañas Eliminadas</h2>
    <a href="#" class="btn btn-light btn-sm" onclick="mostrar_campanas_ocultas()" >
        Mostrar ocultas
    </a>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Base de datos</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="t_body_borradas">
        {% for campana in borradas %}
            <tr>
                <td width="25%">
                    <a href="{% url 'campana_update' campana.pk %}">{{ campana.nombre }}</a>
                </td>
                <td>
                    {{ campana.bd_contacto }}
                </td>
                <td> {{campana.get_estado_display}}  </td>
                <td width="14%">
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownCampaignDeleted" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opciones
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownCampaignDeleted">
                            <a class="dropdown-item" href="{% url 'queue_member_campana' campana.pk %}">
                                <span class="icon icon-plus"></span>Agregar agentes
                            </a>
                            <a class="dropdown-item" href="{% url 'campana_supervisors' campana.pk %}">
                                <span class="icon icon-eye"></span>Dar permisos para ver
                            </a>
                            <a class="dropdown-item" href="{% url 'campana_reporte_calificacion' campana.pk %}">
                                <span class="icon icon-list"></span>Calificaciones
                            </a>
                            <a class="dropdown-item" href="{% url 'campana_reporte_grafico' campana.pk %}">
                                <span class="icon icon-graph"></span>Reportes
                            </a>
                            {% if campana.oculto %}
                            <a class="dropdown-item" href="{% url 'desoculta_campana' campana.pk %}">
                                <span class="icon icon-eye"></span>Hacer visible
                            </a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'oculta_campana' campana.pk %}" >
                                <span class="icon icon-eye-slash"></span>Ocultar
                            </a>
                            {% endif %}
                            <a class="dropdown-item" href="{% url 'campana_elimina' campana.pk %}">
                                <span class="icon icon-trash"></span>Eliminar
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="4">No existen campañas</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>
</div>

 <div class="modal fade" id="myMapModal">
        <div class="modal-dialog" id="modal_ventana">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 id="address" class="modal-title"></h1>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div id="map-canvas" class=""></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
<style type="text/css">
    p {
        margin: 4px 10px 10px;
    }
</style>

{% endblock %}
