{% extends "campana/wizard_base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block nav %}
    <ul class="nav nav-tabs">
        <ul class="nav nav-tabs">
            <li class="disabled"><a>{% trans 'Campaña' %}</a></li>
            <li class="active"><a>{% trans 'Datos básicos de la cola' %}</a></li>
            <li class="disabled"><a>{% trans 'Opciones de calificación' %}</a></li>
            <li class="disabled"><a>{% trans 'Parámetros extra web form' %}</a></li>
        </ul>
    </ul>
{% endblock %}

{% block form_render %}
    <br>
    {{ form.non_field_errors }}
    {{ form.name.errors }}
    {{ form.name }}
    {{ form.campana.errors }}
    {{ form.campana }}
    <div class="form-group row">
        {{ form.timeout.errors }}
        <label class="col-sm-4 control-label" for="{{ form.timeout.id_for_label }}">Tiempo de Ring: </label>
        <div class="col-sm-2">
            {{ form.timeout }}
            {{ form.timeout.help_text }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.retry.errors }}
        <label class="col-sm-4 control-label" for="{{ form.retry.id_for_label }}">Tiempo de Reintento:</label>
        <div class="col-sm-2">
            {{ form.retry }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.audio_de_ingreso.errors }}
        <label class="col-sm-4 control-label" for="{{ form.audio_de_ingreso.id_for_label }}">Audio de ingreso:</label>
        <div class="col-sm-3">
            {{ form.audio_de_ingreso }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.maxlen.errors }}
        <label class="col-sm-4 control-label" for="{{ form.maxlen.id_for_label }}">Cantidad Max de llamadas: </label>
        <div class="col-sm-2">
            {{ form.maxlen }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.servicelevel.errors }}
        <label class="col-sm-4 control-label" for="{{ form.servicelevel.id_for_label }}">Nivel de Servicio:</label>
        <div class="col-sm-2">
            {{ form.servicelevel }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.strategy.errors }}
        <label class="col-sm-4 control-label" for="{{ form.strategy.id_for_label }}">Estrategia de distribucion:</label>
        <div class="col-sm-3">
            {{ form.strategy }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.weight.errors }}
        <label class="col-sm-4 control-label" for="{{ form.weight.id_for_label }}">Importancia de campaña:</label>
        <div class="col-sm-2">
            {{ form.weight }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.wait.errors }}
        <label class="col-sm-4 control-label" for="{{ form.wait.id_for_label }}">Tiempo de espera en cola:</label>
        <div class="col-sm-2">
            {{ form.wait }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.auto_grabacion.errors }}
        <label class="col-sm-4 control-label" for="{{ form.auto_grabacion.id_for_label }}">Grabar llamados:</label>
        <div class="col-sm-1">
            {{ form.auto_grabacion }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.audios.errors }}
        <label class="col-sm-4 control-label" for="{{ form.audios.id_for_label }}">Anuncio periódico:</label>
        <div class="col-sm-3">
            {{ form.audios|add_class:"form-control" }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.announce_frequency.errors }}
        <label class="col-sm-4 control-label" for="{{ form.announce_frequency.id_for_label }}">Frecuencia del anuncio: </label>
        <div class="col-sm-2">
            {{ form.announce_frequency }}
        </div>
    </div>
    </br>
{% endblock %}
