{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="col-md-9">
        <table class="table table-striped">
            <tr>
                <td><strong>{% trans 'Template de campaña entrante' %}</strong></td>
                <td>{{ object.nombre }}</td>
            </tr>
            <tr>
                <td>{% trans 'Tipo de interación' %}</td>
                <td>
                    {{object.get_tipo_interaccion_display}}:
                    {% if object.tipo_interaccion == 1 %}
                        {{ object.formulario }}
                    {% else %}
                        {{ object.sitio_externo }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2"><strong>{% trans ' Datos de la Cola' %}</strong></td>
            </tr>
            <tr>
                <td>{% trans 'Cantidad Max de llamadas' %}:</td>
                <td>{{object.queue_campana.maxlen}}</td>
            </tr>
            <tr>
                <td>{% trans 'Tiempo de descanso entre llamadas' %}:</td>
                <td>{{object.queue_campana.wrapuptime}}</td>
            </tr>
            <tr>
                <td>{% trans 'Nivel de Servicio' %}:</td>
                <td>{{object.queue_campana.servicelevel}}</td>
            </tr>
            <tr>
                <td>{% trans 'Estrategia de distribucion' %}:</td>
                <td>{{object.queue_campana.get_strategy_display}}</td>
            </tr>
            <tr>
                <td>{% trans 'Importancia de campaña' %}:</td>
                <td>{{object.queue_campana.weight}}</td>
            </tr>
            <tr>
                <td>{% trans 'Tiempo de espera en cola' %}:</td>
                <td>{{object.queue_campana.wait}}</td>
            </tr>
            <tr>
                <td>{% trans 'Grabar llamados' %}:</td>
                <td>
                    {% if object.queue_campana.auto_grabacion %}
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    {% else %}
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td colspan="2"><strong>{% trans 'Opciones de calificación' %}</strong></td>
            </tr>
            {% for opcion_calificacion in object.opciones_calificacion.all  %}
                <tr>
                    <td>{{ opcion_calificacion.nombre }}</td>
                    <td>{{ opcion_calificacion.get_tipo_display }}</td>
                </tr>
            {% endfor %}
        </table>
        <a href="{% url 'campana_entrante_template_list' %}" class="btn-outline-primary">{% trans 'Volver a listado de templates' %}</a>
    </div>
{% endblock %}
