

<div class="modal-content">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-1">
                        <p>Nombre de la Campana <strong>{{ campana.nombre }}</strong></p>
                        <p> Estado <strong>{{ campana.get_estado_display}}</strong></p>
                            </div>
                    </div>
                    <hr>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">

                            <p> Llamadas efectuadas <strong>{{ efectuadas }}</strong></p>


                            <p> Llamadas Terminadas <strong>{{ terminadas }}</strong></p>


                            <p> Llamadas restantes estimadas <strong>{{ estimadas }}</strong></p>

                                 </div>
                            </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
