{% extends "base.html" %}
{% load static %}
{% block head_js %}
<script type="text/javascript" src="{% static 'ominicontacto/JS/jquery.formset.js' %}"></script>
<script>
    $(document).ready(function() {
            $('#id_fecha_inicio').datetimepicker({format: 'DD/MM/YYYY'});
        $('#id_fecha_fin').datetimepicker({format: 'DD/MM/YYYY'});

        });

     $(function(){
         $('.parametros-formset').formset({
            addText: '+',
            deleteText: 'borrar',
            prefix: 'parametros_extra_para_webform'
         });
     })

    </script>
{% endblock %}
{% block content %}


            <ul class="nav nav-tabs">
                <li class="active"><a>Campaña</a></li>
                <li class="disabled"><a>Datos Básicos de la cola</a></li>
            </ul>
            <br>
<div class="col-md-6">
<form action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group row">
        <label class="col-sm-3 control-label" for="{{ form.nombre.id_for_label }}">Nombre: </label>
        <div class="col-sm-6" data-toggle="tooltip" data-placement="top">
              {{ object.nombre }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.calificacion_campana.errors }}
        <label class="col-sm-3 control-label" for="{{ form.calificacion_campana.id_for_label }}">Calificacion campana: </label>
        <div class="col-sm-6">
              {{ form.calificacion_campana }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.bd_contacto.errors }}
        <label class="col-sm-3 control-label" for="{{ form.bd_contacto.id_for_label }}">Base de Datos de Contactos: </label>
        <div class="col-sm-6">
              {{ form.bd_contacto }}
        </div>
    </div>
    {% if campana.tipo_interaccion == 1 %}
    <div class="form-group row">
        <label class="col-sm-3 control-label">Formulario: </label>
        <div class="col-sm-6">
              {{ campana.formulario }}
        </div>
    </div>
    {% endif %}
    {% if campana.tipo_interaccion == 2 %}
    <div class="form-group row">
        <label class="col-sm-3 control-label">Sitio externo: </label>
        <div class="col-sm-6">
              {{ campana.sitio_externo }}
        </div>
    </div>
    {% endif %}
    <div class="form-group row">
        {{ form.gestion.errors }}
        <label class="col-sm-3 control-label">Gestion: </label>
        <div class="col-sm-6">
              {{ form.gestion }}
        </div>
    </div>
    <div class="form-group row">
        {{ form.objetivo.errors }}
        <label class="col-sm-3 control-label">Objetivo: </label>
        <div class="col-sm-6">
            {{ form.objetivo }}
        </div>
    </div>

    <h4>Parámetros extra para Webform</h4>
    <div class="form-group row">
        {{ parametro_extra_formset.management_form }}
        {% for form in parametro_extra_formset %}
        <table class="parametros-formset">
        {{ form }}
        </table>    
        {% endfor %}
    </div>

    </br>
    <button type="submit" id="id_guardar" class="btn btn-success btn-lg">
        Siguiente
    </button>
</div>
</form>

{% endblock %}
