{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block content %}

        <h1>Templates campañas entrantes</h1>

        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>{% trans 'Nombre' %}</th>
                    <th>{% trans 'Acciones' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for campana in templates_activos_entrantes %}
                    <tr>
                        <td width="25%">
                            <a href="{% url 'campana_entrante_template_detail' campana.pk %}">
                                {{ campana.nombre }}
                            </a>
                        </td>
                        <td width="14%">
                            <div class="dropdown">
                                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Opciones
                                </button>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownActions">
                                    <a class="dropdown-item" href="{% url 'campana_entrante_template_create_campana' campana.pk %}">
                                        <span class="icon icon-plus"></span>{% trans 'Crear Campaña desde Template' %}
                                    </a>     
                                    <a class="dropdown-item" href="{% url 'campana_entrante_template_delete' campana.pk %}">
                                        <span class="icon icon-trash"></span>{% trans 'Eliminar' %}
                                    </a>                                            
                                </div>
                            </div>                            
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="5"> {% trans 'No existen templates para campañas entrantes' %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}
