{% extends "campana/wizard_base.html" %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'ominicontacto/CSS/opcion-calificacion.css' %}"></link>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'ominicontacto/JS/jquery.formset.js' %}"></script>
    <script type="text/javascript">
     $('.linkFormset').formset({
       addText: '+',
       deleteText: '-',
       prefix: '{{ wizard.form.prefix }}',
       addCssClass: 'addFormset btn btn-info',
       deleteCssClass: 'deleteFormset btn btn-danger',
     });
    </script>
{% endblock %}

{% block nav %}
    <ul class="nav nav-tabs">
        <ul class="nav nav-tabs">
            <li class="disabled"><a>{% trans 'Campaña' %}</a></li>
            <li class="disabled"><a>{% trans 'Datos básicos de la cola' %}</a></li>
            <li class="active"><a>{% trans 'Opciones de calificación' %}</a></li>
        </ul>
    </ul>
{% endblock %}

{% block formset_render %}
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            {% for form in wizard.form.forms %}
                <tr class="linkFormset">
                    {% if form.instance.pk %}
                        <td>{{ form.DELETE }}</td>
                    {% endif %}
                    <td>
                        {{ form.nombre.errors }}
                        {{ form.nombre|add_class:"form-control" }}
                    </td>
                    <td>
                        {{ form.tipo.errors }}
                        {{ form.tipo|add_class:"form-control fieldsFormset" }}
                    </td>
                    <td>{{ form.id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ wizard.form.management_form }}
{% endblock %}
