{% extends "campana/wizard_base.html" %}
{% load i18n %}
{% load static %}

{% block extra_js %}
    <script src="{% static 'ominicontacto/JS/jquery.formset.js' %}"></script>
    <script type="text/javascript">
     $('.link-formset').formset({
       addText: 'add link',
       deleteText: 'remove',
       prefix: '{{ wizard.form.prefix }}'
     });
    </script>
{% endblock %}

{% block nav %}
    <ul class="nav nav-tabs">
        <ul class="nav nav-tabs">
            <li class="disabled"><a>{% trans 'Campaña' %}</a></li>
            <li class="disabled"><a>{% trans 'Datos básicos de la cola' %}</a></li>
            <li class="active"><a>{% trans 'Opciones de calificación' %}</a></li>
        </ul>
    </ul>
{% endblock %}

{% block formset_render %}
    <table border="0" cellpadding="0" cellspacing="0">
        <tbody>
            {% for form in wizard.form.forms %}
                <tr class="link-formset">
                    <td>
                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        {{ form.nombre }}
                    </td>
                    <td>{{ form.tipo }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ wizard.form.management_form }}
{% endblock %}
