{% extends "base.html" %}
{% load static %}
{% block head_js %}
<script type="text/javascript">
   $(function() {
                var start = moment();
                var end = moment();
                function cb(start, end) {
                    $('#id_fecha').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }

            // Init daterange plugin
            $('#id_fecha').daterangepicker(
                {
                startDate: start,
                endDate: end,
                ranges: {
                    'Hoy': [moment(), moment()],
                    'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Ultimos 7 Días': [moment().subtract(6, 'days'), moment()],
                    'Ultimos 30 Días': [moment().subtract(29, 'days'), moment()],
                    'Este Mes': [moment().startOf('month'), moment().endOf('month')],
                    'Ultimo Mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },

        }, cb);

        cb(start, end);

});
    </script>
{% endblock %}
{% block content %}
 <script type="text/javascript" src="{% static 'ominicontacto/JS/pygal-tooltips.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'ominicontacto/JS/pygal-tooltips.js' %}"></script>



{% with graficos_estadisticas=graficos_estadisticas %}
<div class="col-md-6">

    <form role="form" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        <table class="table">
           <tr>
               <td>
                   <div class="input-group date pull-right active" id="">
                       {{form.fecha}}
                        <span class="input-group-addon cursor"><i class="fa fa-calendar"></i>
                        </span>
                    </div>
               </td>
               <td>
                   <button type="submit" id="id_buscar_btn" class="btn btn-primary">
                        Filtrar por esa fecha
                </button>
               </td>
           </tr>
        </table>

    </form>
</div>




                <table class="table table-bordered">
                        <thead>
                            <tr class="fts-table-bg">
                                <td colspan="2">
                                    <h4>Cantidad de calificacion por campana</h4>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="50%">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Calificacion</th>
                                            <th>cantidad </th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for calificaciones_nombre, calificaciones_cantidad in graficos_estadisticas.dict_campana_counter %}
                                                <tr>
                                                    <td><h5>{{ calificaciones_nombre }} </h5></td>
                                                    <td><h5>{{ calificaciones_cantidad }} </h5></td>
                                                </tr>
                                            {% endfor %}
                                                <tr>
                                                    <td><strong>Total asignados</strong></td>
                                                    <td><strong>{{graficos_estadisticas.total_asignados}}</strong></td>
                                                </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="50%" align="center">
                                    <div class="graficos-avances">
                                        <figure>
                                            {{ graficos_estadisticas.barra_campana_calificacion.render|safe }}
                                        </figure>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
<div class="col-md-6">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Agente</th>
            <th>Contactos calificados</th>
            <th>Ventas</th>
        </tr>
    </thead>
    <tbody>
        {% for agente in graficos_estadisticas.agentes_venta %}
            <tr>
                <td><a href="{% url 'reporte_agente_grafico' pk_campana agente.0.pk %}">{{agente.0}}</a></td>
                <td>{{agente.1}}</td>
                <td class="text-success"><strong>{{agente.2}}</strong></td>
            </tr>
        {% endfor %}
        <tr>
            <td><strong>Totales</strong></td>
            <td><strong>{{graficos_estadisticas.total_calificados}}</strong></td>
            <td><strong>{{graficos_estadisticas.total_ventas}}</strong></td>
        </tr>
    </tbody>
</table>
</div>



{% endwith %}
{% endblock %}