{% extends "base.html" %}
{% load static %}

{% block content %}

<h1>Calificaciones</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
    {% for calificacion in object_list %}
        <tr>
            <td>{{ calificacion.nombre }}</td>
            <td>
                <div class="dropdown">
                  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownEditMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Opciones
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownEditMenu">
                    <a class="dropdown-item" href="{% url 'calificacion_update' calificacion.id %}"><span class="icon icon-pencil" aria-hidden="true" title="Modificar"></span>Editar</a>
                    <a class="dropdown-item" href="{% url 'calificacion_delete' calificacion.id %}"><span class="icon icon-trash" aria-hidden="true" title="Eliminar Calificacion"></span>Eliminar</a>
                  </div>
                </div>             
            </td>
        </tr>
   {% empty %}
    <tr>
        <td colspan="2">No existen calificaciones</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}