{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="col-md-3">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Calificaciones</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
        {% for calificacion in object_list %}
            <tr>
                <td>{{ calificacion.nombre }}</td>
                <td>{{ calificacion.calificacion }}</td>
                <td>
                    <a href="{% url 'calificacion_campana_update' calificacion.id %}"><span class="glyphicon glyphicon-edit" aria-hidden="true" title="Modificar"></span></a>
                    <a href="{% url 'calificacion_campana_delete' calificacion.id %}"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Eliminar Calificacion"></span></a>

                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="3">No existen calificaciones de campana</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}