{% if ansible_os_family == "Debian" %}
var KamailioIp = "{{ omnivoip_fqdn }}";
{% elif ansible_os_family == "RedHat" %}
var KamailioIp = "{{ omnicentos_ip }}";
{% elif ansible_os_family == "SangomaOS" %}
var KamailioIp = "{{ omnifreepx_ip }}";
{% endif %}
