/*---Color que SI hay que modificar para los rebrands*/
$primary-color: #8FC641;
$primary-light-color: #9FD84E;
$secondary-color: #76AA2E; /* Color para :hover, :focus,etc */

/* ---Color que no hay que modificar para los rebrands---*/
$dark-grey: #2F342F; /* Gris oscuro */
$grey: #6A716A; /* Gris claro */
$light-grey: #E5E7E3;/*Gris muy clarito*/