/*---Color que SI hay que modificar para los rebrands*/
$primary-color: #f71883;
$primary-light-color: #fa4da0;
$secondary-color: #89468b; /* Color para :hover, :focus,etc */

/* ---Color que no hay que modificar para los rebrands---*/
$dark-grey: #333333; /* Gris oscuro */
$grey: #6A716A; /* Gris claro */
$light-grey: #E5E7E3; /* Gris muy clarito */

$warning-agenda: #FF9A3C; /* naranja clarito */