/*
css para la parte administrativa de omnileads
*/

.graficos-avances svg {
    min-height: 100px;
    max-height: 450px;
}

.oml-table-bg {
    background: #c3c3c3 !important;
    color: #222;
}

/*.content {
    margin-top: 100px;
}*/
