/*---Color que SI hay que modificar para los rebrands*/
/* Color para :hover, :focus,etc */
/* ---Color que no hay que modificar para los rebrands---*/
/* Gris oscuro */
/* Gris claro */
/* Gris muy clarito */
/* naranja clarito */
.pendiente {
  background: #cfcbca;
}

.rechazada {
  background: red;
}

.aprobada {
  background: var(--primary-light-color, #fa4da0);
}

.observada {
  background: #fe832f;
}

.detalles {
  color: white;
}

/*
Resultados de Auditoria en calificacion styles
*/
.calificacion_auditada {
  border: 1px solid var(--primary-color, #f71883);
  border-radius: 10px;
  padding-left: 10%;
  padding-top: 3%;
}

.calificacion_auditada h2 {
  text-decoration: underline;
  text-decoration-color: var(--primary-color, #f71883);
  text-transform: uppercase;
  color: gray;
}

.modalAuditoria .modal-header,
.modalAuditoria .modal-header span {
  background-color: var(--primary-color, #f71883);
  color: white;
  text-transform: uppercase;
}

.calificacion_auditada b,
.modalAuditoria .modal-body b {
  color: var(--primary-color, #f71883);
}

#calificacion_form textarea {
  width: 100%;
}
