#id_observaciones{
	border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 100%;
}

#id_opcion_calificacion{
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
