/*---Color que SI hay que modificar para los rebrands*/
/* Color para :hover, :focus,etc */
/* ---Color que no hay que modificar para los rebrands---*/
/* Gris oscuro */
/* Gris claro */
/*Gris muy clarito*/
#text_line {
  text-decoration-color: #8FC641;
  text-decoration-line: underline;
  text-underline-position: under;
  padding-bottom: 10px;
}

#align_box {
  padding-top: 20px;
}

#destino {
  margin-bottom: 0;
}

#destino h3 {
  text-decoration: underline;
}
