@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?ma5xb3');
  src:  url('../../fonts/icomoon.eot?ma5xb3#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?ma5xb3') format('truetype'),
    url('../../fonts/icomoon.woff?ma5xb3') format('woff'),
    url('../../fonts/icomoon.svg?ma5xb3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-down:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-chevron-right:before {
  content: "\e902";
}
.icon-chevron-up:before {
  content: "\e903";
}
