@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon.eot?i3ejw2');
  src:  url('../../fonts/icomoon.eot?i3ejw2#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?i3ejw2') format('truetype'),
    url('../../fonts/icomoon.woff?i3ejw2') format('woff'),
    url('../../fonts/icomoon.svg?i3ejw2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-audio-file:before {
  content: "\e900";
}
.icon-campaign:before {
  content: "\e901";
}
.icon-cancel:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-chevron-down:before {
  content: "\e904";
}
.icon-chevron-left:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e906";
}
.icon-chevron-up:before {
  content: "\e907";
}
.icon-contacts:before {
  content: "\e908";
}
.icon-graph:before {
  content: "\e909";
}
.icon-headset:before {
  content: "\e90a";
}
.icon-info:before {
  content: "\e90b";
}
.icon-module:before {
  content: "\e90c";
}
.icon-pause:before {
  content: "\e90d";
}
.icon-pencil:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-trash:before {
  content: "\e910";
}
.icon-user:before {
  content: "\e911";
}
