.fieldsFormset {
    margin: 5px;
}

.deleteFormset {
    margin: 10px;
    font-weight: bold;
}

.addFormset {
    margin-bottom: 5px;
    font-weight: bold;
}

.borderWarning {
    border-style: solid;
    border-color: yellow;
    border-width: 1px;
}
