.addFormset {
    margin: 10px;
}

.deleteFormset {
    margin-left: 10px;
    margin-top: 27px;
}

.addFormset {
    margin-bottom: 5px;
}

.fieldFormset {
    margin: 5px;
}

patronesDiscado {
    margin: 10px;
}
