{% extends "base.html" %}
{% load static %}

{% block content %}

                <h1>Campaña {{ campana.nombre }}</h1>
                
                <h3>Desde: {{ campana.fecha_inicio|date:"d/m/Y" }}</h3>
                <h3>Hasta: {{ campana.fecha_fin|date:"d/m/Y" }}</h3>
                <h3>Base Datos: {{ campana.bd_contacto }}</h3>   
                <br>
                <a class="btn btn-outline-primary" href="{% url 'exporta_campana_reporte' campana.pk %}">Exportar Calificacion(CSV)</a>
                <a class="btn btn-outline-primary" href="{% url 'exporta_formulario_reporte' campana.pk %}">Exportar Gestion: {{campana.gestion}}(CSV)</a>
                <hr>
                <table class="table">
                    <thead>
                      <tr class="fts-table-bg">
                        <th>Teléfono</th>
                        <th>Datos</th>
                        <th>Calificación</th>
                        <th>Observaciones</th>
                        <th>Base de datos</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for calificacion in campana.obtener_calificaciones %}
                            <tr>
                                <td>
                                    {{ calificacion.contacto.telefono }}
                                </td>
                                <td>
                                    {{ calificacion.contacto.datos}}
                                </td>
                                 <td>
                                    {{ calificacion.opcion_calificacion.nombre }}
                                </td>
                                <td>
                                    {% if calificacion.observaciones %}
                                        {{calificacion.observaciones}}
                                    {% endif %}
                                </td>
                                <td>{{calificacion.contacto.bd_contacto}}</td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="16">
                                    <p>No se encontraron Calificaciones para esta campaña.</p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
{% endblock %}
