{% extends "campana_manual/campana_manual_base.html" %}
{% load i18n %}

{% block title_campana %}
    <h1>{% trans 'Campaña Preview: Datos Básicos' %}</h1>
{% endblock %}

{% block nav %}
    <h1>{% trans 'Campaña Preview: Datos básicos' %}</h1>

    <ul class="nav nav-indicators">
        <li class="active"><a>{% trans 'Campaña' %}</a></li>
        <li class="disabled"><a>{% trans 'Opciones de calificación' %}</a></li>
        <li class="disabled"><a>{% trans 'Parámetros extra web form' %}</a></li>
    </ul>
{% endblock %}

{% block tiempo_desconexion %}
    <div class="col-md-6">
        {{ form.tiempo_desconexion.errors }}
        <label>Tiempo de desconexión: </label>
        <!-- <div class="col-sm-3" data-toggle="tooltip" data-placement="top"
             title="A partir de este tiempo en minutos, un agente será desconectado de cualquier contacto que tenga asignado y no haya atendido">
            
        </div> -->
        {{ form.tiempo_desconexion }}
        <small class="form-text text-muted">
            A partir de este tiempo en minutos, un agente será desconectado de cualquier contacto que tenga asignado y no haya atendido.
        </small>        
    </div>
{% endblock %}
