{% extends "base.html" %}

{% load i18n %}

{% block content %}
    <h1>{% trans 'Campaña' %}: {{ campana.nombre }}</h1>
    <h2>{% trans 'Datos generales' %}</h2>
    <p>{% trans 'Nombre' %}: <strong>{{ campana.nombre }}</strong></p>
    <p>{% trans 'Estado' %}: <strong>{{ campana.get_estado_display}}</strong></p>
    <p>{% trans 'Base de datos' %}: <strong>{{ campana.bd_contacto}}</strong></p>
    <p>{% trans 'Opciones de calificación' %}:
        <strong>
            <ul>
                {% for opcion_calificacion in opciones_calificacion %}
                    <li>{{ opcion_calificacion.nombre }}</li>
                {% endfor %}
            </ul>
        </strong>
    </p>
    <p>{% trans 'Opciones de calificación de gestión' %}:
        <strong>
            <ul>
                {% for opcion_calificacion in opciones_calificacion_gestion %}
                    <li>{{ opcion_calificacion.nombre }}</li>
                {% endfor %}
            </ul>
        </strong>
    </p>
    <br>
    <h2>{% trans 'Resultados de las llamadas de la campaña' %}</h2>
    <p>{% trans 'Contactos atendidos' %}: <strong>{{ terminadas }}</strong></p>
    <p>{% trans 'Contactos restantes por atender' %}: <strong>{{ estimadas }}</strong></p>
    {% for categoria, count in categorias.items %}
        <p>{% trans 'Finalizados por' %} {{ categoria }}:<strong>{{ count }}</strong></p>
    {% endfor %}
    <hr>
    <a class="btn btn-outline-primary" href="{% url 'campana_preview_list' %}">
        {% trans 'volver a listado' %}
    </a>
{% endblock %}
