<div class="row">
    <div class="col-sm-6">
        <div class="row">
            <p>Nombre de la Campana <strong>{{ campana.nombre }}</strong></p>
            <p> Estado <strong>{{ campana.get_estado_display}}</strong></p>
            <p> Base de datos <strong>{{ campana.bd_contacto}}</strong></p>
            <p> Calificaciones <strong>{{ campana.calificacion_campana}}</strong></p>
            <p> Gestion <strong>{{ campana.gestion}}</strong></p>
        </div>
        <div class="row">
            <p><strong> Resultados de las llamadas de la campaña</strong></p>
            <p> Contactos atendidos <strong>{{ terminadas }}</strong></p>
            <p> Contactos restantes por atender <strong>{{ estimadas }}</strong></p>
        </div>
    </div>
    <div class="col-sm-6">
        {% for categoria, count in categorias.items %}
            <p>Finalizados por {{ categoria }}:<strong>{{ count }}</strong></p>
        {% endfor %}
    </div>
</div>
