<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>id_cliente</th>
                <th>Telefono</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
        {% for contacto in contactos %}
            <tr>
                <td>{{ contacto.id_cliente }}</td>
                <td>{{ contacto.telefono }}</td>
                <td><a href="{% url 'contacto_update' contacto.id_cliente %}" >
                    <span class=" glyphicon glyphicon-tasks" aria-hidden="true" title="Modificar"></span></a>
                    <a href="" >
                    <span class=" glyphicon glyphicon-earphone" aria-hidden="true" title="Llamar"></span></a>
                    <a href="" >
                    <span class=" glyphicon glyphicon-envelope" aria-hidden="true" title="Email"></span></a>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="3">No existen contactos</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
<!-- pagination -->
    <nav>
        <ul class="pagination pagination-lg">

            <li class="{% if not contactos.has_previous %} disabled {% endif %}">
                {% if contactos.has_previous %}
                    <a  href="{% url url_paginator pagina=contactos.previous_page_number%}">
                        &laquo;
                    </a>
                {% else %}
                    <a href="javascript:void(0);">
                        &laquo;
                    </a>
                {% endif %}
            </li>

            <li>
                <a href="javascript:void(0);">
                    Página {{ contactos.number }} de {{ contactos.paginator.num_pages }}
                </a>
            </li>

            <li class="{% if not contactos.has_next %} disabled {% endif %}">
                {% if contactos.has_next %}
                    <a href="{% url url_paginator pagina=contactos.next_page_number %}">
                        &raquo;
                    </a>
                {% else %}
                    <a href="javascript:void(0);">
                        &raquo;
                    </a>
                {% endif %}
            </li>

        </ul>
    </nav>
</body>
</html>