{% load static %}
{% load compress %}
{% load i18n %}

<div id="contactos">
    <div id="wrapper-search">
        <button id="btnCollapse" class="btn btn-block" type="button" data-toggle="collapse" data-target="#wrapperSearchForm" aria-expanded="true" aria-controls="wrapperSearchForm"><span class="icon icon-search"></span> Buscar</button>
        <div id="wrapperSearchForm" class="show">
            <form action="{% url 'contacto_list' %}" method="post">{% csrf_token %}
              <div class="form-row">
                <div class="col-md-6">
                  {{ form }}
                  <small class="form-text text-muted">
                      {% trans 'No se muestran las campañas de tipo preview a las cuales Ud. está asignado' %}
                  </small>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">{% trans "Mostrar contactos" %}</button>
            </form>
        </div>
    </div>
    <div>
        <form action="{% url 'agente_llamar_contacto' %}" method="POST" role="form">
            {% csrf_token %}
            <input type="hidden" id="pk_agente" name="pk_agente" value="{{ user.get_agente_profile.pk }}">
            <input type="hidden" id="pk_contacto" name="pk_contacto">
            <input type="hidden" id="pk_campana" name="pk_campana" value="{{ campana.pk }}">
            <input type="hidden" id="tipo_campana" name="tipo_campana" value="{{ campana.type }}">
            <input type="hidden" id="campana_nombre" name="campana_nombre" value="{{ campana.nombre }}">
            <input type="hidden" id="campana_tipo" name="campana_tipo" value="{{ campana.get_type_display }}">
            <input type="hidden" id="click2call_type" name="click2call_type" value="contactos">
            <button id="lista_llamar_contacto" type="submit" class="hidden"></button>
        </form>
        {% if campana %}
            <h2> {% trans 'Contactos de la campaña' %}: {{ campana.nombre }}</h2>
            <table id="agenteContactosTable">
                <thead>
                    <tr>
                        <th>ID de Contacto</th>
                        <th>Telefono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
            </table>
        {% endif %}
    </div>
</div>
<!-- pagination -->
</div>
