<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>id_cliente</th>
                <th>Telefono</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
        {% for contacto in object_list %}
            <tr>
                <td>{{ contacto.id_cliente }}</td>
                <td>{{ contacto.telefono }}</td>
                <td><a href="{% url 'contacto_update' contacto.id_cliente %}" >
                    <span class=" glyphicon glyphicon-tasks" aria-hidden="true" title="Modificar"></span></a>
                    <a href="" >
                    <span class=" glyphicon glyphicon-earphone" aria-hidden="true" title="Llamar"></span></a>
                    <a href="" >
                    <span class=" glyphicon glyphicon-envelope" aria-hidden="true" title="Email"></span></a>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="3">No existen contactos</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>