{% load staticfiles %}
{% load i18n %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- Stylesheets -->        
        <link rel="stylesheet" href="{% static 'bootstrap-4.0.0/css/bootstrap.min.css' %}" >        
        <!-- Custom CSS --> 
        <link rel="stylesheet" href="{% static 'ominicontacto/CSS/jquery.dataTables.min.css' %}">
        <link rel="stylesheet" href="{% static 'ominicontacto/CSS/main.css' %}" ></link>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Asap:400,500" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'ominicontacto/CSS/oml-agent.css' %}">  
        {% compress js %}
        <!-- Scripts -->
        <script src="{% static 'jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'bootstrap-4.0.0/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'ominicontacto/JS/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'ominicontacto/JS/contactosList.js' %}"></script>
        {% endcompress %}
    </head>
    <body>
        <h1>Contactos</h1>

        <div>
            {% if campanas %}
                {% include 'agente/contactos_content.html' with contactos=contactos %}
            {% else %}
                <p>{% trans 'No tiene contactos para marcar manualmente desde esta interfaz' %}</p>
            {% endif %}
        </div>
    </body>
</html>
