{% load i18n %}

<div id="contactos">
    <div class="col-md-3">
        <div class="well well-sm">
            <form action="{% url 'contacto_list' 1 %}" method="post">{% csrf_token %}
                <table class="table" data-toggle="tooltip" data-placement="bottom"
                       title="{% trans 'No se muestran las campañas de tipo preview a las cuales Ud. está asignado' %}">
                    {{ form }}
                </table>
                <button type="submit" class="btn btn-primary">{% trans "Mostrar contactos" %}</button>
            </form>
        </div>
    </div>
    <div class="col-md-9">
        {% if contactos %}
            <h4> {% trans 'Se muestran los contactos de la campaña' %}: {{ campana.nombre }}</h4>
            <table class="table table-bordered" id="agenteContactosTable">
                <thead>
                    <tr>
                        <th>ID de Contacto</th>
                        <th>Telefono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for contacto in contactos %}
                        <tr>
                            <td>{{ contacto.pk }}</td>
                            <td>{{ contacto.telefono }}</td>
                            <td><a href="{% url 'contacto_update' contacto.pk %}" >
                                <span class=" glyphicon glyphicon-tasks" aria-hidden="true" title="Modificar"></span></a>
                                <a href="" >
                                    <span class=" glyphicon glyphicon-earphone" aria-hidden="true" title="Llamar"></span></a>
                                <a href="" >
                                    <span class=" glyphicon glyphicon-envelope" aria-hidden="true" title="Email"></span></a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3">No existen contactos</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav>
        {% endif %}
    </div>
</div>
<!-- pagination -->
</div>
