<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<form role="form" method="post" enctype="multipart/form-data" >
{% csrf_token %}
		<table>
				<td>
						{{ form.as_p }}&nbsp;
				</td>
        <td>&nbsp;
            <button type="submit" id="id_buscar_btn" class="btn btn-primary">
                Buscar
            </button>
				</td>
	  </table>        

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Telefono</th>
                <th>id_cliente</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Dni</th>
                <th>Fecha Nacimiento</th>
                <th>Cuil</th>
                <th>Acciones</th>

            </tr>
        </thead>
        <tbody>
        {% for contacto in listado_de_contacto %}
            <tr>
                <td>{{ contacto.telefono }}</td>
                <td>{{ contacto.id_cliente }}</td>
                <td>{{ contacto.nombre }}</td>
                <td>{{ contacto.apellido }}</td>
                <td>{{ contacto.dni }}</td>
                <td>{{ contacto.fecha_nacimiento }}</td>
                <td>{{ contacto.cuil }}</td>
                <td><a href="{% url 'formulario_tarjeta_update' campana.pk contacto.id_cliente %}" >
                    <span class=" glyphicon glyphicon-tasks" aria-hidden="true" title="Formulario actualizar"></span></a>
                    <a href="" >
                    <span class=" glyphicon glyphicon-trash" aria-hidden="true" title="Llamar"></span></a>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="6">No existen contactos</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</form>
</body>
</html>