{% extends "base.html" %}
{% load static %}
{% block head_js %}
<script type="text/javascript">
   $(function() {
                var start = moment();
                var end = moment();
                function cb(start, end) {
                    $('#id_fecha').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }

 $('#id_fecha').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
  });

  $('#id_fecha').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('');
});

            // Init daterange plugin
            $('#id_fecha').daterangepicker(
                {

                locale: {
                    format: 'DD/MM/YYYY'
                 },

                startDate: start,
                endDate: end,
                ranges: {
                    'Hoy': [moment(), moment()],
                    'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Ultimos 7 Días': [moment().subtract(6, 'days'), moment()],
                    'Ultimos 30 Días': [moment().subtract(29, 'days'), moment()],
                    'Este Mes': [moment().startOf('month'), moment().endOf('month')],
                    'Ultimo Mes': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },

        }, cb);

        cb(start, end);

        $("#id_agente").change(function() {
                if( $("#id_agente").val() == null) {
                    $("#id_grupo_agente").removeAttr('disabled');
                    $("#id_todos_agentes").removeAttr('disabled');
                } else {
                    $("#id_grupo_agente").attr('disabled', true);
                    $("#id_todos_agentes").attr('disabled', true);
                }
            });

            $("#id_grupo_agente").change(function() {
                if( $("#id_grupo_agente").val() == "") {
                    $("#id_agente").removeAttr('disabled');
                    $("#id_todos_agentes").removeAttr('disabled');
                } else {
                    $("#id_agente").attr('disabled', true);
                    $("#id_todos_agentes").attr('disabled', true);
                }
            });

        $("#id_todos_agentes").change(function() {

                if( $("#id_todos_agentes").prop("checked") ) {
                    $("#id_agente").attr('disabled', true);
                    $("#id_grupo_agente").attr('disabled', true);
                } else {

                    $("#id_agente").removeAttr('disabled');
                    $("#id_grupo_agente").removeAttr('disabled');
                }
            });


});
    </script>
{% endblock %}
{% block content %}

<div class="col-md-6">

    <form role="form" method="post" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group row">
        {{ form.fecha.errors }}
            <label class="col-sm-3 control-label" for="{{ form.fecha.id_for_label }}">Fecha: </label>
            <div class="col-sm-6">
                <div class="input-group date pull-right active" id="">
                       {{form.fecha}}
                        <span class="input-group-addon cursor"><i class="fa fa-calendar"></i>
                        </span>
                </div>
            </div>
        </div>

        <div class="form-group row">
        {{ form.agente.errors }}
            <label class="col-sm-3 control-label" for="{{ form.agente.id_for_label }}">Agente: </label>
            <div class="col-sm-6">
              {{ form.agente }}
            </div>
        </div>
        <div class="form-group row">
        {{ form.todos_agentes.errors }}
            <label class="col-sm-3 control-label" for="{{ form.todos_agentes.id_for_label }}">Todos los agentes: </label>
            <div class="col-sm-6">
              {{ form.todos_agentes }}
            </div>
        </div>
        <div class="form-group row">
        {{ form.grupo_agente.errors }}
            <label class="col-sm-3 control-label" for="{{ form.agente.id_for_label }}">Grupo de agentes: </label>
            <div class="col-sm-6">
              {{ form.grupo_agente }}
            </div>
        </div>

                   <button type="submit" id="id_buscar_btn" class="btn btn-primary">
                        Buscar
                </button>


    </form>
</div>

{% if graficos_estadisticas  %}

<div class="col-md-12">
    <h4>Periodo evaluado {{graficos_estadisticas.estadisticas.fecha_desde|date:"d/m/Y"}} - {{graficos_estadisticas.estadisticas.fecha_hasta|date:"d/m/Y"}}</h4>
    <table class="table table-bordered">
    <thead>
        <tr>
            <th>Agente</th>
            <th>Tiempo de session</th>
            <th>Tiempo de pausa</th>
            <th>Tiempos en llamada</th>
            <th>Porcentaje en llamada</th>
            <th>Porcentaje en pausa</th>
            <th>Porcentaje en espera</th>
            <th>Cantidad de llamadas procesadas</th>
            <th>Cantidad de llamadas perdidas</th>
            <th>Media de llamadas asignadas</th>
            <th>Media de llamadas salientes manuales</th>


        </tr>
    </thead>
    {% for agente in graficos_estadisticas.estadisticas.agentes_tiempos %}
        <tr>
            <td>{{agente.get_nombre_agente}}</td>
            <td>
                {% if agente.get_string_tiempo_sesion %}
                    {{agente.get_string_tiempo_sesion}}hs
                {% else %}
                    0hs
                {% endif %}
            </td>
            <td>
                {% if agente.get_string_tiempo_pausa %}
                    {{agente.get_string_tiempo_pausa}}hs
                {% else %}
                    0hs
                {% endif %}
            </td>
            <td>{{agente.get_string_tiempo_llamada}}hs</td>
            <td>
                {% if agente.tiempo_porcentaje_llamada %}
                    {{agente.tiempo_porcentaje_llamada}}%
                {% else %}
                    0%
                {% endif %}
            </td>
            <td>
                {% if agente.tiempo_porcentaje_pausa %}
                    {{agente.tiempo_porcentaje_pausa}}%
                {% else %}
                    0%
                {% endif %}
            </td>
            <td>
                {% if agente.tiempo_porcentaje_wait %}
                    {{agente.tiempo_porcentaje_wait}}%
                {% else %}
                    0%
                {% endif %}
            </td>
            <td>{{agente.cantidad_llamadas_procesadas}}</td>
            <td>{{agente.cantidad_llamadas_perdidas}}</td>
            <td>{{agente.get_media_asignada}}s</td>
            <td>{{agente.get_media_salientes}}s</td>
        </tr>
    {% endfor %}
    <tbody>

    </tbody>
</table>

    <h5><a class="btn btn-info btn-sm" target="_blank" href="{% url 'agente_llamada_exporta' tipo_reporte='tiempos_agentes' %}">Exportar reporte de tiempos(CSV)</a></h5>
</div>

<div class="col-md-12">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Agente</th>
            <th>Pausa</th>
            <th>Tipo de pausa</th>
            <th>Tiempo de pausa</th>

        </tr>
    </thead>
    {% for agente in graficos_estadisticas.estadisticas.agentes_pausa %}
        <tr>
            <td>{{agente.nombre_agente}}</td>
            <td>{{agente.pausa}}</td>
            <td>{{agente.tipo_de_pausa}}</td>
            <td>{{agente.tiempo}}hs</td>
        </tr>
    {% endfor %}
    <tbody>

    </tbody>
</table>
    <h5><a class="btn btn-info btn-sm" target="_blank" href="{% url 'agente_llamada_exporta' tipo_reporte='pausas_agentes' %}">Exportar reporte de pausas(CSV)</a></h5>

</div>

<div class="col-md-12">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Agente</th>
            <th>Cola</th>
            <th>Tiempos de llamadas</th>
            <th>Cantidad de llamadas procesadas</th>

        </tr>
    </thead>
    {% for agente in graficos_estadisticas.estadisticas.count_llamada_campana %}
        <tr>
            <td>{{agente.0}}</td>
            <td>{{agente.1}}</td>
            <td>{{agente.2}}hs</td>
            <td>{{agente.3}}</td>

        </tr>
    {% endfor %}
    <tbody>

    </tbody>
</table>
                <h5><a class="btn btn-info btn-sm" target="_blank" href="{% url 'agente_llamada_exporta' tipo_reporte='llamadas_agentes' %}">Exportar reporte cantidad llamadas(CSV)</a></h5>

</div>
<div class="col-md-12">
               <table class="table table-bordered">
                        <thead>
                            <tr class="fts-table-bg">
                                <td colspan="2">
                                    <h4>Cantidad de llamadas por agente</h4>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td width="50%">
                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th>Agente</th>
                                            <th>Total </th>
                                            <th>ICS</th>
                                            <th>DIALER</th>
                                            <th>INBOUND</th>
                                            <th>MANUAL</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for agente, total_campana, total_ics, total_dialer, total_inbound, total_manual in graficos_estadisticas.dict_agente_counter %}
                                                <tr>
                                                    <td><h5>{{ agente }} </h5></td>
                                                    <td width="10%" align="right"><h5><span class="label label-primary">{{ total_campana }}</span></h5></td>
                                                    <td width="10%" align="right"><h5><span class="label label-primary">{{ total_ics }}</span></h5></td>
                                                    <td width="10%" align="right"><h5><span class="label label-primary">{{ total_dialer }}</span></h5></td>
                                                    <td width="10%" align="right"><h5><span class="label label-primary">{{ total_inbound }}</span></h5></td>
                                                    <td width="10%" align="right"><h5><span class="label label-primary">{{ total_manual }}</span></h5></td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                                <td width="50%" align="center">
                                    <div class="graficos-avances">
                                        <figure>
                                            {{ graficos_estadisticas.barra_agente_total.render|safe }}
                                        </figure>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
    <h5><a class="btn btn-info btn-sm" target="_blank" href="{% url 'agente_llamada_exporta' tipo_reporte='llamadas_tipo_agentes' %}">Exportar reporte de tipo de llamadas(CSV)</a></h5>

</div>
{% endif %}
{% endblock %}
