server {
    listen          80;
    server_name     {{ omniapp_fqdn }};
    rewrite ^ https://$http_host$request_uri? permanent;
}

server {
    listen          443 ssl;
    server_name     {{ omniapp_fqdn }};
    access_log      /var/log/nginx/example.com_access.log combined;
    error_log       /var/log/nginx/example.com_error.log error;

    ssl_certificate         {{ install_prefix }}nginx_certs/cert.pem;
    ssl_certificate_key     {{ install_prefix }}nginx_certs/key.pem;

    location /static/ {
         alias {{ install_prefix }}static/;
         autoindex on;
         allow all;
    }

    location ~* (ws|wssup) {
        alias {{ install_prefix }}static/ominicontacto/JS/socket.io.js;
        proxy_pass https://{{ kamailio_fqdn }}:14443;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
        proxy_connect_timeout 7d;
        proxy_send_timeout 7d;
        proxy_read_timeout 7d;
    }


    location /grabaciones {
      alias {{ install_prefix }}asterisk/var/spool/asterisk/monitor;
      autoindex on;
      allow all;
    }

    location / {
       	if ($request_method ~* "(GET)") {
      		add_header "Access-Control-Allow-Origin"  *;
    	}
      {% if desarrollo == 0 %}
      include         uwsgi_params;
      uwsgi_pass      unix:{{ install_prefix }}run/ominicontacto_app.socket;
      uwsgi_send_timeout 600s;
      uwsgi_read_timeout 600s;
      uwsgi_connect_timeout 600s;
      keepalive_timeout 600s;
  	 	send_timeout                600s;
      {% else %}
#      include         uwsgi_params;
#      uwsgi_pass      unix:{{ install_prefix }}run/ominicontacto_app.socket;
#      uwsgi_send_timeout 600s;
#      uwsgi_read_timeout 600s;
#      uwsgi_connect_timeout 600s;
#      keepalive_timeout 600s;
#      send_timeout                600s;
      proxy_pass https://0.0.0.0:1210;
      proxy_set_header X-Real-IP $remote_addr;
      proxy_set_header Host $host;
      proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_set_header   X-Forwarded-Proto $scheme;
      proxy_connect_timeout 7d;
      proxy_send_timeout 7d;
      proxy_read_timeout 7d;
      {% endif %}
     }
}
