{% extends "message/emsg/_base.text.j2" %}

{% block content %}
{{ _("Estimado") }} {{ user.name or user.username }},

{{ _("Su password ha sido reseteado exitosamente:") }}

- {{ _("Nombre de usuario") }}: {{ user.username }}
- {{ _("Contraseña") }}: {{ user.password }}
- {{ _("URL de Acceso") }}: {{ urls["login"] }}

{{ _("Durante el ingreso, asegúrese de cambiar la contraseña nuevamente.") }}
{% endblock %}

{% block signature %}
{{ _("Cualquier duda, contáctese con su Administrador") }}
{% endblock %}
