{% extends "base.html" %}
{% load static %}

{% block title %} Logueo Usuario {% endblock %}

{% block logueo %}

    {% if not user.is_authenticated %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <p> Username/password incorrecto ingrese nuevamente los datos </p>
            </div>
        {% endif %}
        <form class="form-signin" role="form" method="post" action="">
            {% csrf_token %}
						<img src="{% static 'ominicontacto/Img/imgpsh_fullsize.png' %}" alt="FtsLogo" width="240">
            <div class="form-group">
                <label class="control-label">Usuario</label>
                <div>
                    {{ form.username }}
                    <span class="help-inline text-danger">
                        {{ form.username.errors }}
                    </span>
                </div>
             </div>

            <div class="form-group">
                <label class="control-label">Clave</label>
                <div>
                    {{ form.password }}
                    <span class="help-inline text-danger">
                        {{ form.password.errors }}
                    </span>
                </div>
             </div>

            <br>

            <button class="btn btn-success" type="submit" >Ingresar</button>

        </form>
 

    {% endif %}
{% endblock %}
