{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1>Base Datos: {{ basedatoscontacto.nombre }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Teléfono</th>
                <th>ID de Contacto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for contacto in object_list %}
            <tr>
                <td>{{ contacto.telefono }}</td>
                <td>{{ contacto.pk }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opciones
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownActions">
                            <a class="dropdown-item" href="{% url 'actualizar_contacto' contacto.pk %}">
                                <span class="icon icon-pencil"></span>Modificar
                            </a>
                            <a class="dropdown-item" href="{% url 'eliminar_contacto' contacto.pk %}">
                                <span class="icon icon-trash"></span>Eliminar
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
       {% empty %}
        <tr>
            <td colspan="3">No existen contactos</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}