{% extends "base.html" %}
{% load static %}

{% block head_js %}
<script type="text/javascript">

    function mostrar_bases_datos_ocultas() {

        $.get('{% url  'mostrar_bases_datos_ocultas' %}',
                function (data) {
                    $('#t_body_ocultas').html(data);

                });
    }

</script>
{% endblock %}

{% block content %}

<h1>Base de datos de contactos</h1>
<a href="#" class="btn btn-light btn-sm" onclick="mostrar_bases_datos_ocultas()" >
    Mostrar ocultas
</a>
<hr>
<table class="table">
    <thead>
      <tr class="fts-table-bg">
        <th>Base Datos Contactos</th>
        <th>Creada</th>
        <th>Cantidad Contactos</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody id="t_body_ocultas">
        {% for base_datos_contacto in bases_datos_contacto %}
            <tr>
                <td>
                    {{ base_datos_contacto.nombre }}
                </td>
                <td>
                    {{ base_datos_contacto.fecha_alta|date:"d/m/Y" }}
                </td>
                <td>
                    {{ base_datos_contacto.get_cantidad_contactos }}
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownActions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Opciones
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownActions">
                            <a class="dropdown-item" href="{% url 'agregar_contacto' base_datos_contacto.pk %}">
                                <span class="icon far fa-plus-square"></span>Agregar contacto
                            </a>
                            <a class="dropdown-item" href="{% url 'contacto_list_bd_contacto' base_datos_contacto.pk %}">
                                <span class="icon fas fa-list"></span>Lista de contactos
                            </a>
                            <a class="dropdown-item" href="{% url 'update_base_datos_contacto' base_datos_contacto.pk %}">
                                <span class="icon fas fa-asterisk"></span>Agregar contactos
                            </a>     
                            {% if base_datos_contacto.oculto %}
                            <a class="dropdown-item" href="{% url 'desoculta_base_datos' base_datos_contacto.pk %}">
                                <span class="icon fas fa-eye"></span>Hacer visible
                            </a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'oculta_base_dato' base_datos_contacto.pk %}">
                                <span class="icon fas fa-eye-slash"></span>Ocultar
                            </a> 
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">
                    <p>No se encontraron Bases de Datos de Contactos creadas.</p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}