{% extends "base.html" %}
{% load static %}

{% block content %}
<br/>
<div class="col-md-6 col-md-offset-3">

<table class="table table-stripped">
                    <thead>
                      <tr class="fts-table-bg">
                        <th>Base Datos Contactos</th>
                        <th>Creada</th>
                        <th>Cantidad Contactos</th>
                          <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for base_datos_contacto in bases_datos_contacto %}
                            <tr>
                                <td>
                                    {{ base_datos_contacto.nombre }}
                                </td>
                                <td>
                                    {{ base_datos_contacto.fecha_alta|date:"d/m/Y" }}
                                </td>
                                <td>
                                    {{ base_datos_contacto.get_cantidad_contactos }}
                                </td>
                                <td>
                                    <a href="{% url 'agregar_contacto' base_datos_contacto.pk %}">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true" title="agregar contacto"></span>
                                    </a>
                                    <a href="{% url 'contacto_list_bd_contacto' base_datos_contacto.pk %}">
                                    <span class="glyphicon glyphicon-th-list" aria-hidden="true" title="listado de contactos"></span>
                                    </a>
                                    <a href="{% url 'update_base_datos_contacto' base_datos_contacto.pk %}">
                                    <span class="glyphicon glyphicon-asterisk" aria-hidden="true" title="agregar contactos desde el csv"></span>
                                    </a>
                                    <a href="{% url 'exporta_dialer' base_datos_contacto.pk %}">
                                    <span class="glyphicon glyphicon-export" aria-hidden="true" title="exportar base datos en csv"></span>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="6">
                                    <p class="text-center text-danger">
                                        <em>No se encontraron Bases de Datos de Contactos creadas.</em>
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>


</div>
{% endblock %}