{% extends "base.html" %}
{% load static %}
{% block head_js %}

<script type="text/javascript">
    $(function() {
        $(".modal_proceso_grande").click(function (){
            $('#modal_proceso_grande').modal();
        });
    });
</script>

{% endblock %}
{% block content %}

<form role="form" method="post" enctype="multipart/form-data" > {% csrf_token %}
    <table class="table table-striped">
        {{form.as_table}}
    </table>
    <button type="submit" id="id_registrar" class="btn btn-primary modal_proceso_grande">
        Definir Base Datos
    </button>
</form>
<br>
<a class="btn btn-outline-primary" href="/static/ominicontacto/base_datos_ejemplo.csv" target="_blank">
    bajar base de datos de ejemplo
</a>

{% endblock %}