{% extends "base.html" %}
{% load static %}


{% block content %}

<h1>Backlists</h1>

<table class="table table-stripped">
    <thead>
      <tr class="fts-table-bg">
        <th>Backlist</th>
        <th>Creada</th>
        <th>Cantidad Contactos</th>
      </tr>
    </thead>
    <tbody id="t_body_ocultas">
        {% for backlist in back_lists %}
            <tr>
                <td>
                    {{ backlist.nombre }}
                </td>
                <td>
                    {{ backlist.fecha_alta|date:"d/m/Y" }}
                </td>
                <td>
                    {{ backlist.cantidad_contactos }}
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>
                    <p>No se encontraron Backlist creadas.</p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}