{% extends "base.html" %}
{% load static %}
{% block head_js %}

    <script type="text/javascript">
        $(function() {
            $(".modal_proceso_grande").click(function (){
                $('#modal_proceso_grande').modal();
            });
        });
    </script>
    {% endblock %}
{% block content %}

    <div class="col-md-4 col-md-offset-4">

        <form role="form" method="post" enctype="multipart/form-data" > {% csrf_token %}
            <table class="table table-striped">
		        {{form.as_table}}
            </table>
            <button type="submit" id="id_registrar" class="btn btn-default btn-block modal_proceso_grande">
                Definir Backlist
            </button>
	    </form>
    </div>

{% endblock %}