RUN_KAMAILIO=yes
USER={{ usuario }}
GROUP={{ usuario }}
SHM_MEMORY=64
PKG_MEMORY=8
PIDFILE={{ install_prefix }}kamailio/var/run/kamailio/kamailio.pid
CFGFILE={{ install_prefix }}kamailio/etc/kamailio/kamailio.cfg
DUMP_CORE=yes
