[Unit]
Description=Kamailio SIP Server
Documentation=man:kamailio(8) http://www.kamailio.org/
After=syslog.target network-online.target postgresql.service

[Service]
Type=forking
User={{ usuario }}
Environment=SHM_SIZE=64
Environment=PKG_SIZE=8
ExecStartPre={{ install_prefix }}kamailio/sbin/kamailio -c
ExecStart={{ install_prefix }}kamailio/sbin/kamailio -m $SHM_SIZE -M $PKG_SIZE -P {{ install_prefix }}kamailio/run/kamailio/kamailio.pid
ExecStopPost=/usr/bin/rm -f {{ install_prefix }}kamailio/run/kamailio/kamailio.pid
PIDFile={{ install_prefix }}kamailio/run/kamailio/kamailio.pid
RuntimeDirectory=kamailio
RuntimeDirectoryMode=755
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
